<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/base}" >
<div layout:fragment="content" class="container my-3">
    <form id="form-cart" method="post" action="/product/buy/order">
    <div class="row mb-3">
            <div class="col-9">
                <h3 class="mt-3">장바구니</h3>
                <table class="table">
                        <colgroup>
                            <col width="5%">
                            <col width="15%">
                            <col width="65%">
                            <col width="10%">
                            <col width="5%">
                        </colgroup>
                        <thead class="thead-dark">
                            <tr>
                                <th><input type="checkbox" class="form-check-input" id="checkbox-all"></th>
                                <th>이미지</th>
                                <th>제목 및 가격</th>
                                <th>수량</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table-cart-tbody">
                             <tr th:each="cartBook: ${cartBooks}">
                                 <td><input type="checkbox" class="form-check-input" name="buyBookNoList" th:value="${cartBook.bookNo}"></td>
                                 <input type="hidden" name="cart-no" th:value="${cartBook.cartNo}" />
                                 <td><img class="rounded mx-auto d-block" th:src="${cartBook.imageCover}"/></td>
                                 <td>
                                     <a th:href="@{|/product/book/detail?bookNo=${cartBook.bookNo}|}"
                                        style="text-decoration: none; color: inherit;">
                                         <strong><div th:text="${cartBook.name}">책 제목</div></strong>
                                         <div>
                                             <span style="color: forestgreen">
                                                 <span class="cart-book-discountRate" th:text="${#numbers.formatDecimal(cartBook.discountRate * 100, 0, 0)}"></span>%
                                             </span>
                                             <strong><span class="cart-book-discounted-price" th:text="${#numbers.formatDecimal(cartBook.price * (1 - cartBook.discountRate), 0, 0)}"></span></strong>원
                                             <span class="cart-book-price" th:text="${cartBook.price}" style="text-decoration: line-through; color: grey"></span>
                                         </div>
                                     </a>
                                 </td>
                                 <td>
                                     <div class="btn-group me-2" role="group" aria-label="Second group">
                                         <a type="button"
                                            class="btn btn-outline-secondary count-minus">-</a>
                                         <input class="cart-count" name="buyBookCountList" th:value="${cartBook.count}"
                                                style="width:30px; border: none;  background-color: transparent; padding: 0; margin: 10px"/>
                                         <a type="button"
                                            class="btn btn-outline-secondary count-plus">+</a>
                                     </div>
                                 </td>
                                 <td><a type="button"
                                        class="btn btn-outline-danger cart-book-delete"
                                        th:href="@{|/product/cart/delete?cartNo=${cartBook.cartNo}|}">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                 </td>
                             </tr>
                        </tbody>
                </table>
            </div>
            <div class="col-3">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h5 class="my-0"><strong>장바구니 합계</strong></h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="d-flex justify-content-between">
                                <span>상품금액</span>
                                <span id="total-price">20,000원</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>배송비</span>
                                +<span id="delivery-price">2000</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>상품할인</span>
                                -<span id="total-book-discount-price">0</span>
                            </li>
                            <hr class="my-4">
                            <li class="d-flex justify-content-between">
                                <span><strong>결제 예정 금액</strong></span>
                                <strong><span id="final-price">0</span></strong>
                            </li>
                        </ul>
                        <button type="button" id="btn-order" class="w-100 btn btn-lg btn-dark mb-3">주문하기</button>
                        <button type="button" id="btn-gift" class="w-100 btn btn-lg btn-outline-success">선물하기</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script layout:fragment="script" type="text/javascript">
    let cartList = [];
    let tbody = document.getElementById("table-cart-tbody");

    // 체크박스
    $("#checkbox-all").change(function() {
        let currentCheckedStatus = $(this).prop('checked');
        $(":checkbox[name=buyBookNoList]").prop("checked", currentCheckedStatus);

        updatePrices();
    });

    $("#checkbox-all").trigger('click');

    $(":checkbox[name=buyBookNoList]").change(function(){
        let len = $(":checkbox[name=buyBookNoList]").length;
        let checkedLen = $(":checked[name=buyBookNoList]:checked").length;
        if(len == checkedLen){
            $("#checkbox-all").prop('checked', true);
        } else {
            $("#checkbox-all").prop('checked', false);
        }
        updatePrices();
    });

    // 체크안된 도서 수량 disabled
    $("#form-cart").submit(function() {
        $("#form-cart").find("#table-cart-tbody tr").not(":has(:checkbox:checked)").each(function(index, tr) {
            $(tr).find("input").prop("disabled", true);
        })
        return true;
    })

    // 수량 변경
    $("#table-cart-tbody").on('click', '.count-minus', function(event){
        let cartNo = $(this).closest("tr").find("input[name=cart-no]").val();
        let prevVal =  parseInt($(this).siblings('input').val());
        let nowVal = prevVal - 1;
        if(nowVal >= 1){
           $(this).siblings('input').val(nowVal);
           updatePrices();
           updateBookCount(cartNo, nowVal);
        }
    })

    $("#table-cart-tbody").on('click', '.count-plus', function(event){
        let cartNo = $(this).closest("tr").find("input[name=cart-no]").val();
        let prevVal =   parseInt($(this).siblings('input').val());
        let nowVal = prevVal + 1;
        $(this).siblings('input').val(nowVal);
        updatePrices();
        updateBookCount(cartNo, nowVal);
    })

    function updatePrices(){
        let totalPrice = 0;
        let deliveryPrice = parseInt($("#delivery-price").text());
        let totalBookDiscountPrice = 0;
        let finalPrice = 0;

        $("tbody tr:has(:checkbox:checked) span[class=cart-book-price]").each(function(){
            let price = parseInt($(this).text());
            let count = parseInt($(this).closest('tr').find('.cart-count').val());
            let discountRate = parseFloat($(this).closest('tr').find(".cart-book-discountRate").text()) * 0.01;
            totalPrice += price * count;
            totalBookDiscountPrice += price * count * discountRate;
        });
        finalPrice = totalPrice + deliveryPrice - totalBookDiscountPrice;

        $("#total-price").text(totalPrice);
        $("#total-book-discount-price").text(totalBookDiscountPrice);
        $("#final-price").text(finalPrice);
    }

    async function updateBookCount(cartNo, count){
        console.log("/product/cart/update/count?cartNo=" + cartNo + "&count=" + count);
        let response = await fetch("/product/cart/update/count?cartNo=" + cartNo + "&count=" + count);

        if(!response.ok){
            console.log("장바구니 수량 변경 실패");
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        // 주문하기 버튼 클릭 이벤트 핸들러
        document.querySelector("#btn-order").addEventListener("click", function() {
            document.querySelector("#form-cart").action = "/product/buy/order";
            document.querySelector("#form-cart").submit();
        });

        // 선물하기 버튼 클릭 이벤트 핸들러
        document.querySelector("#btn-gift").addEventListener("click", function() {
            document.querySelector("#form-cart").action = "/product/gift";
            document.querySelector("#form-cart").submit();
        });
    });
    updatePrices();
</script>