<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/base}" >
<div layout:fragment="content" class="container my-3">
    <div class="row mb-3">
        <div class="col-9">
            <h3>장바구니</h3>

            <table class="table">
                <colgroup>
                    <col width="5%">
                    <col width="15%">
                    <col width="65%">
                    <col width="10%">
                    <col width="5%">
                </colgroup>
                <thead class="thead-dark">
                    <tr>
                        <th><input type="checkbox" id="checkbox-all"></th>
                        <th>이미지</th>
                        <th>제목 및 가격</th>
                        <th>수량</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-cart-tbody">
                     <tr th:each="cartBook: ${cartBooks}">
                         <td><input type="checkbox" name="checkbox" th:value="${cartBook.cartNo}"></td>
                         <td></td>
                         <td>
                             <div th:text="${cartBook.name}">책 제목</div>
                             <div id="cart-book-price" th:text="${cartBook.price}">가격</div>
                         </td>
                         <td>
                             <div class="btn-group me-2" role="group" aria-label="Second group">
                                 <button type="button" class="btn btn-outline-secondary" id="count-minus">-</button>
                                 <span id="cart-count" th:text="${cartBook.count}">1</span>
                                 <button type="button" class="btn btn-outline-secondary" id="count-plus">+</button>
                             </div>
                         </td>
                         <td><a type="button"
                                class="btn btn-outline-danger"
                                id="cart-book-delete"
                                th:href="@{|/product/cart/delete?cartNo=${cartBook.cartNo}|}">
                                <i class="bi bi-trash3"></i>
                            </a>
                         </td>
                     </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <div>
                <div>
                    <div class="justify-content-between">
                        <span>상품금액</span>
                        <span id="total-price">20000</span>
                    </div>
                    <div class="justify-content-between">
                        <span>배송비</span>
                        <span>+ 2000</span>
                    </div>
                    <div class="justify-content-between">
                        <span>상품할인</span>
                        <span>- 5000</span>
                    </div>
                </div>
                <div>
                    <div class="justify-content-between">
                        <span>결제 예정 금액</span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" type="text/javascript">
    let cartList = [];
    let tbody = document.getElementById("table-cart-tbody");

    // 체크박스
    $("#checkbox-all").change(function() {
        let currentCheckedStatus = $(this).prop('checked');
        $(":checkbox[name=checkbox]").prop("checked", currentCheckedStatus);

        updateTotalPrice();
    });

    $("#checkbox-all").trigger('click');

    $(":checkbox[name=checkbox]").change(function(){
        let len = $(":checkbox[name=checkbox]").length;
        let checkedLen = $(":checked[name=checkbox]:checked").length;
        if(len == checkedLen){
            $("#checkbox-all").prop('checked', true);
        } else {
            $("#checkbox-all").prop('checked', false);
        }
        updateTotalPrice();
    });

    // 수량 변경
    $("#table-cart-tbody").on('click', '#count-minus', function(event){
       let prevVal =  parseInt($(this).siblings('span').text());
       if(prevVal - 1 >= 0)
            $(this).siblings('span').text(prevVal - 1);
       updateTotalPrice()
    })

    $("#table-cart-tbody").on('click', '#count-plus', function(event){
        let prevVal =   parseInt($(this).siblings('span').text());
        $(this).siblings('span').text(prevVal + 1);
        updateTotalPrice();
    })

    function updateTotalPrice(){
        let totalPrice = 0;
        $("tbody tr:has(:checkbox:checked) div[id^=cart-book-price]").each(function(){
            let price = parseInt($(this).text());
            let count = parseInt($(this).closest('tr').find('#cart-count').text());
            totalPrice += price * count;
        });
        $("#total-price").text(totalPrice);
    }
    updateTotalPrice();
</script>