<html lang="ko" layout:decorate="~{admin/layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="category" class="container-fluid">
    <div class="row">
        <h1>카테고리 관리</h1>
        <hr>

        <!-- 버튼 영역 -->
        <div class="col-12 p-3 d-flex justify-content-end">
            <button type="button" class="btn btn-primary me-1" id="btn-add-category">추가</button>
            <button type="button" class="btn btn-success me-1" id="btn-modify-category">수정</button>
            <button type="button" class="btn btn-danger" id="btn-delete-category">삭제</button>
        </div>

        <!-- 대분류 영역 -->
        <div class="col-12 bg-light p-3 mb-3" id="toplevel-category-box">
            <div class="d-flex align-items-center justify-content-between">
                <h4>대분류</h4>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <span th:each="topLevelCategory : ${topLevelCategories}"
                          th:text="${topLevelCategory.name}"
                          th:data-top-category-no="${topLevelCategory.no}"
                          class="border p-1 me-1"
                          id="topLevelCategory-${topLevelCategory.no}">
                    </span>
                </div>
            </div>
        </div>

        <!-- 중분류 영역 -->
        <div class="col-12 bg-light p-3 mb-3">
            <h4>중분류</h4>
            <div class="card mt-3">
                <div id="secondLevelCategories" class="card-body">
                    <!-- 중분류 내용 추가 -->
                </div>
            </div>
        </div>

        <!-- 소분류 영역 -->
        <div class="col-12 bg-light p-3">
            <h4>소분류</h4>
            <div class="card mt-3">
                <div id="thirdLevelCategories" class="card-body">
                    <!-- 소분류 내용 추가 -->
                </div>
            </div>
        </div>
    </div>

    <!-- 카테고리 추가 모달창 -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryModalLabel">카테고리 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 추가 카테고리 폼 -->
                    <form id="addCategoryForm">
                        <!-- 입력 필드 추가 -->
                        <div class="form-group mb-3">
                            <select name="category" onchange="showSecondLevelCategories(this.value)">
                                <option value="" disabled selected> -- 선택하세요 --</option>
                                <option th:each="topLevelCategory : ${topLevelCategories}"
                                        th:value="${topLevelCategory.no}" th:text="${topLevelCategory.name}"></option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="secondLevelCategory">중분류:</label>
                            <input type="text" id="secondLevelCategory" name="category">
                        </div>
                        <div class="form-group mb-3">
                            <label for="thirdLevelCategory">소분류:</label>
                            <input type="text" id="thirdLevelCategory" name="category">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" id="btn-add-category-modal">추가</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script layout:fragment="script" type="text/javascript">
    $(function () {

        $("#btn-add-category").click(function () {
            let categoryFormModal = new bootstrap.Modal($("#addCategoryModal"));
            categoryFormModal.show();
        });

        $("#btn-add-category-modal").click(function () {
            // 카테고리 추가 로직 구현
        });

        $("span[id^=topLevelCategory]").click(function () {
            const categoryNo = $(this).data("topCategoryNo");

            $(this).addClass("bg-primary-subtle").siblings().removeClass("bg-primary-subtle");

            $.ajax({
                url: "/admin/secondCategory",
                method: "GET",
                data: {category: categoryNo},
                success: function (secondLevelCategories) {
                    const $secondLevelCategories = $("#secondLevelCategories");

                    $secondLevelCategories.empty();

                    secondLevelCategories.forEach(secondLevelCategory => {
                        const $span = $("<span>")
                            .addClass("border p-1 me-1")
                            .text(secondLevelCategory.name)
                            .attr("data-second-category-no", secondLevelCategory.no)
                            .attr("id", `secondLevelCategory-${secondLevelCategory.no}`);

                        $secondLevelCategories.append($span);
                    });
                },
                error: function (xhr, status, error) {
                    console.error("중분류 데이터 요청 실패:", error);
                }
            });
        });

        $(document).on("click", "span[id^=secondLevelCategory]", function () {
            const categoryNo = $(this).data("secondCategoryNo");

            $(this).addClass("bg-primary-subtle").siblings().removeClass("bg-primary-subtle");

            $.ajax({
                url: "/admin/secondCategory",
                method: "GET",
                data: {category: categoryNo},
                success: function (thirdLevelCategories) {
                    const $thirdLevelCategories = $("#thirdLevelCategories");

                    $thirdLevelCategories.empty();

                    thirdLevelCategories.forEach(thirdLevelCategory => {
                        const $span = $("<span>")
                            .addClass("border p-1 me-1")
                            .text(thirdLevelCategory.name)
                            .attr("data-third-category-no", thirdLevelCategory.no)
                            .attr("id", `thirdLevelCategory-${thirdLevelCategory.no}`);

                        $thirdLevelCategories.append($span);
                    });
                },
                error: function (xhr, status, error) {
                    console.error("소분류 데이터 요청 실패:", error);
                }
            });


        });

        $(document).on("click", "span[id^=thirdLevelCategory]", function () {
            $(this).addClass("bg-primary-subtle").siblings().removeClass("bg-primary-subtle");
        });
    })
</script>

</html>
