<div th:fragment="navbar" class="mb-5">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1D3559;">
        <div class="container-fluid" style="background-color: #1D3559;">
            <a class="navbar-brand" href="#">BookHub 관리자 홈페이지</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse" style="padding-left: 1400px">

                <!-- 일단 주석처리 -->
                <!--
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                -->

                <span class="navbar-text" th:if="${session.admin != null}">
                    <strong th:text="${session.admin.id}">예시홍길동</strong>님 환영합니다
                </span>

                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item" th:if="${session.admin == null}">
                        <a class="nav-link" th:href="@{/admin/login}">로그인</a>
                    </li>
                    <li class="nav-item" th:if="${session.admin != null}">
                        <a class="nav-link" th:href="@{/admin/logout}">로그아웃</a>
                    </li>
                    <li class="nav-item"  th:if="${session.admin == null}">
                    <a class="nav-link" th:href="@{/admin/signup}">회원가입</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>
