<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/base}" >
<th:block layout:fragment="style">
    <link rel="stylesheet" th:href="@{/css/main/list.css}" />
</th:block>

<div layout:fragment="content" class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div id="sidebar" class="col-2 ">
            <ul class="nav flex-column">
                <h2>베스트셀러</h2>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#"><strong>종합 베스트</strong></a>
                    <a class="nav-link text-black" href="#">주간</a>
                    <a class="nav-link text-black" href="#">월간</a>
                    <a class="nav-link text-black" href="#">연간</a>
                </li>
                </br>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#"><strong>실시간 베스트</strong></a>
                </li>
                </br>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#"><strong>스테디셀러</strong></a>
                </li>
            </ul>
        </div>
        <!-- /Sidebar -->

        <!-- Main content -->
        <div class="col-10 mb-5">
            <h1 class="mb-3">종합베스트</h1>
            <!-- 페이지네이션 및 버튼 -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <ul class="pagination col-7">
                    <li class="page-item ">
                        <a class="page-link " href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                <div class="col-5">
                    <button type="button" class="btn me-2">전체선택</button>
                    <button type="button" class="btn">장바구니 담기</button>
                    <button type="button" class="btn">마이리스트 담기</button>
                </div>
            </div>

            <div class="col-10 ms-2">
                <div class="mb-5 bg-white" style="border-bottom: 1.5px solid #1D3559;"></div>
            </div>

            <!--상품 목록-->
            <div class="card mb-5 col-12" th:each="book : ${books}">
                <div class="ms-2">
                    <button type="button" class="btn btn-sm rounded-circle" id="checkButton">
                        <i class="bi bi-check"></i>
                    </button>
                </div>
                <div >
                    <a href="">
                        <img th:src="${book.cover}" class="card-img-top" alt="책 사진">
                    </a>
                </div>
                <div class="card-body col-12">
                    <div class="text-section col-9">
                        <h5 class="card-title fw-bold" th:text="${book.title}"></h5><!--제목-->
                        <p class="card-text" th:text="${book.author}"></p><!--출판사, 저자-->
                        <p class="card-text">
                            <span th:text="${book.priceSales} + '원'"></span>
                            <span th:text="${book.priceStandard} + '원'"></span> </p><!--할인가, 가격-->
                        <p class="card-text" th:text="${book.description}"></p>
                        <p class="card-text">
                            <i class="fas fa-star"></i>
                            9.8
                        </p>
                    </div>
                    <div class="cta-section col-3">
                        <i id="zzim" class="far fa-heart mb-3"></i>
                        <a href="#" class="btn mb-3" id="cart">장바구니</a>
                        <a href="#" class="btn" id="buyButton">바로구매</a>
                    </div>
                <div class="space mt-3" style="border-top: 1.5px solid #FFFFFF; "></div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/js/main/list.js"></script>
    <script src="/js/main/navbar.js"></script>
</th:block>
</html>
