<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/base}" >
<th:block layout:fragment="style">
    <link rel="stylesheet" th:href="@{/css/main/main.css}" />
</th:block>

<div layout:fragment="content" class="container">
    <div class="row mb-3">
        <div class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel" >
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="1500">
                        <img src="/image/main/slide1.jpg" class="d-block w-100" alt="slide1">
                    </div>
                    <div class="carousel-item" data-bs-interval="1500">
                        <img src="/image/main/slide2.jpg" class="d-block w-100" alt="slide2">
                    </div>
                    <div class="carousel-item" data-bs-interval="1500">
                        <img src="/image/main/slide3.jpg" class="d-block w-100" alt="slide3">
                    </div>
                    <div class="carousel-item" data-bs-interval="1500">
                        <img src="/image/main/slide4.png" class="d-block w-100" alt="slide4">
                    </div>
                    <div class="carousel-item" data-bs-interval="1500">
                        <img src="/image/main/slide5.jpg" class="d-block w-100" alt="slide5">
                    </div>
                    <div class="carousel-item" data-bs-interval="1500">
                        <img src="/image/main/slide6.jpg" class="d-block w-100" alt="slide6">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
    <!-- main 슬라이드 -->

    <!-- 많이 보고 있는 상품-->
    <div class="book-viewCount">
        <div class="row mb-3">
            <div class="col-12">
                <div id="carouselExampleControls" class="carousel slide mb-5" >
                    <h2 class="fw-bold display-5">많이 보고 있는 상품</h2>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="cards-wrapper" >
                                <div class="book-view-card d-none d-md-block" th:each="book, iterStat : ${mainBookViewCount.books}" th:if="${iterStat.index < 5}">
                                    <a th:href="@{|/product/book/detail?bookNo=${book.no}|}" style="text-decoration: none; color: inherit;">
                                    <div class="image-wrapper mt-4 mb-4">
                                        <img th:src="${book.cover}" class="bookview-img" alt="책 사진" >
                                    </div>
                                    <div class="card-body">
                                        <strong class="card-title fw-bold small txt_post" th:text="${book.name}"></strong>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="cards-wrapper" >
                                <div class="book-view-card d-none d-md-block" th:each="book, iterStat : ${mainBookViewCount.books}" th:if="${iterStat.index >= 5}">
                                    <a th:href="@{|/product/book/detail?bookNo=${book.no}|}" style="text-decoration: none; color: inherit;">
                                    <div class="image-wrapper mt-4 mb-4">
                                        <img th:src="${book.cover}" class="bookview-img" alt="책 사진" >
                                    </div>
                                    <div class="card-body">
                                        <strong class="card-title fw-bold small txt_post" th:text="${book.name}"></strong>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--추천도서 -->
    <div  id="book-recommend">
        <div class="row mb-3">
            <div class="testimonial-slider mb-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="testimonial-title">
                                <i class="bi bi-quote display-2"></i>
                                <h2 class="fw-bold display-4">추천<br/>도서</h2>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col md-3"  th:each="book, iterStat : ${mainBookRecommend.books}" th:if="${iterStat.index < 4}">
                                    <a th:href="@{|/product/book/detail?bookNo=${book.no}|}" style="text-decoration: none; color: inherit;">
                                    <div class="card d-none d-md-block">
                                        <div class="image-wrapper mt-4">
                                            <img th:src="${book.cover}" class="bookreco-img" alt="책 사진">
                                        </div>
                                        <div class="card-body">
                                            <strong class="card-title fw-bold small txt_post" th:text="${book.name}"></strong>
                                        </div>
                                    </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--베스트셀러-->
    <div  id="book-bestseller">
        <div class="row mb-3">
            <h2 class="fw-bold display-5">베스트셀러</h2>
            <div class="col" th:each="book, iterStat : ${mainBestSeller.books}" th:if="${iterStat.index < 5}">
                <a th:href="@{|/product/book/detail?bookNo=${book.no}|}" style="text-decoration: none; color: inherit;">
                <div class="card-group mb-3" >
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${iterStat.count}"></h5>
                            <img th:src="${book.cover}" class="card-img-top" alt="책 사진">
                            <strong class="card-title fw-bold small txt_post mb-4" th:text="${book.name}"></strong>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col" th:each="book, iterStat : ${mainBestSeller.books}" th:if="${iterStat.index >= 5}">
                <a th:href="@{|/product/book/detail?bookNo=${book.no}|}" style="text-decoration: none; color: inherit;">
                <div class="card-group mb-3" >
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${iterStat.count}"></h5>
                            <img th:src="${book.cover}" class="card-img-top" alt="책 사진">
                            <strong class="card-title fw-bold small txt_post mb-4" th:text="${book.name}"></strong>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>



    <!--신간 도서-->
    <div class="row mb-3">
        <div class="col-12">
            <div id="newbook" class="carousel slide  mb-5" >
                <h2 class="fw-bold display-5">신간도서</h2>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="cards-wrapper">
                            <div class="newbook card d-none d-md-block" th:each="book, iterStat : ${mainNewBook.books}" th:if="${iterStat.index < 4}">
                                <a th:href="@{|/product/book/detail?bookNo=${book.no}|}" style="text-decoration: none; color: inherit;">
                                <div class="newbook-img-wrapper" style="width: 18rem;">
                                    <img th:src="${book.cover}" class="newbook-img" alt="책 사진">
                                </div>
                                <div class="card-body">
                                    <strong class="card-title fw-bold small txt_post" th:text="${book.name}"></strong>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="cards-wrapper">
                            <div class="newbook card d-none d-md-block" th:each="book, iterStat : ${mainNewBook.books}" th:if="${iterStat.index >= 4}">
                                <a th:href="@{|/product/book/detail?bookNo=${book.no}|}" style="text-decoration: none; color: inherit;">
                                <div class="newbook-img-wrapper" >
                                    <img th:src="${book.cover}" class="newbook-img" alt="책 사진">
                                </div>
                                <div class="card-body">
                                    <strong class="card-title fw-bold small txt_post" th:text="${book.name}"  ></strong>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#newbook" data-bs-slide="prev" id="newbookBtn1">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#newbook" data-bs-slide="next" id="newbookBtn2">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/js/main/navbar.js"></script>
</th:block>
</html>
