<html lang="ko"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/base}">
<div  layout:fragment="content">
    <div class="row mb-3">
        <div class="col-12">
            <h2 class="mt-5">답변 완료된 문의</h2>

            <table class="table">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>고객이름</th>
                        <th>등록일</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="list : ${answerList} ">
                        <td th:text="${list.individualNo}"></td>
                        <td th:text="${list.categoryName.name}"></td>
                        <td>
                            <a th:text="${list.individualTitle}"
                               th:href="@{/admin/individual/answer/detail/{id}(id=${list.individualNo})}"
                                style="text-decoration-line: none"
                            >

                            </a>
                        </td>
                        <td th:text="${list.userName.name}"></td>
                        <td th:text="${#temporals.format(list.individualUpdateDate, 'yyyy.MM.dd')}"></td>
                    </tr>
                </tbody>
            </table>

            <div class="col-mb-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center pagination-sm">
                        <!-- 이전 페이지 링크 -->
                        <li class="page-item" th:class="${pagination.currentPage > 1} ? '' : 'disabled'">
                            <a class="page-link" th:if="${pagination.currentPage > 1}" th:attr="data-page=${pagination.currentPage - 1}" th:href="@{/admin/individual/answer(page=${pagination.currentPage - 1})}">이전</a>
                            <span class="page-link disabled" th:unless="${pagination.currentPage > 1}">이전</span>
                        </li>

                        <!-- 페이지 번호를 표시 -->
                        <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, pagination.totalPages)}" th:class="${pageNumber == pagination.currentPage} ? 'active' : ''">
                            <a class="page-link" th:attr="data-page=${pageNumber}" th:href="@{/admin/individual/answer(page=${pageNumber})}" th:text="${pageNumber}"></a>
                        </li>

                        <!-- 다음 페이지 링크 -->
                        <li class="page-item" th:class="${pagination.currentPage < pagination.totalPages} ? '' : 'disabled'">
                            <a class="page-link" th:if="${pagination.currentPage < pagination.totalPages}" th:attr="data-page=${pagination.currentPage + 1}" th:href="@{/admin/individual/answer(page=${pagination.currentPage + 1})}">다음</a>
                            <span class="page-link disabled" th:unless="${pagination.currentPage < pagination.totalPages}">다음</span>
                        </li>

                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
</html>