<html lang="ko"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/base}">
<div  layout:fragment="content">

    <div class="row mb-3">
            <h2 class="mt-5">답변 완료된 문의</h2>

        <div class="col-10 mt-3">
            <table class="table">
                <tbody>
                <tr>
                    <th>유저 이름</th>
                    <td th:text="${noanswer.user.name}"></td>
                    <th>문의 번호</th>
                    <td th:text="${noanswer.no}"></td>
                </tr>
                <tr>
                    <th>카테고리명</th>
                    <td th:text="${noanswer.faqCategory.name}"></td>
                    <th>문의날짜</th>
                    <td th:text="${#temporals.format(noanswer.createdDate, 'yyyy.MM.dd')}"></td>
                </tr>

                <tr>
                    <th>문의 제목</th>
                    <td th:text="${noanswer.title}" colspan="3"></td>
                </tr>


                <tr>
                    <th>문의 내용</th>
                    <td th:text="${noanswer.content}" colspan="3"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row mt-3">
        <div class="col-10">
            <div class="comment row">
                <div class="col-10 form-control">
                    <p class="mt-2" th:text="${admin.id} + ' | ' + ${#temporals.format(answer.createDate,'yyyy.MM.dd')}">콩콩이 | 2024.04.21</p>
                    <p class="comment-content" th:text="${answer.comment}">123</p>
                    <button class="btn btn-sm btn-outline-secondary" type="button" th:data-answer-no="${answer.no}">수정</button>

                </div>
            </div>

            <a href="/admin/individual/answer" class="btn btn-outline-secondary mt-3">목록으로 돌아가기</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.comment').on('click', '.btn-outline-secondary', function(){
                var currentContent = $(this).siblings('.comment-content').text();
                var answerNo = $(this).attr('data-answer-no'); // 답변 번호를 가져옵니다
                var editContainer = `<textarea class="form-control comment-edit">${currentContent}</textarea>
                     <button class="btn btn-sm btn-success save-button" data-answer-no="${answerNo}">등록</button>`;
                $(this).parent().append(editContainer);
                $(this).siblings('.comment-content').hide();
                $(this).hide();
            });

            $('.comment').on('click', '.save-button', function(){
                var updatedContent = $(this).siblings('.comment-edit').val();
                var answerNo = $(this).attr('data-answer-no'); // 답변 번호를 가져옵니다
                $.ajax({
                    url: '/admin/individual/answer/modify',
                    type: 'POST',
                    data: { no: answerNo, content: updatedContent },
                    success: function(response){
                        alert(response.successMessage); // 성공 메시지 표시
                        location.reload(); // 페이지 새로고침
                    },
                    error: function(xhr){
                        var response = JSON.parse(xhr.responseText);
                        alert(response.errorMessage); // 에러 메시지 표시
                    }
                });
            });
        });
    </script>



</div>
</html>