.BookHubLogo:hover {
    text-decoration: none; /* 호버 시에도 밑줄 없애기 */
}

#linkLogo{
    text-decoration: none;
    color: black;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-variation-settings:
            "wdth" 100;
    font-size: 20px;
}

#memberInfoTitle {
    text-align: center;
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

input[type="text"][name="email"],
input[type="text"][name="tel"],
input[type="text"][name="zipCode"],
input[type="text"][name="address"],
input[type="text"][name="addressDetail"] {
    border: 1px solid #ced4da; /* Add a border with a color */
    border-radius: 4px; /* Optional: Add some border radius for rounded corners */
}
