/*#registerFormTitle {*/
/*    font-family: "Dongle", sans-serif;*/
/*    font-weight: 400;*/
/*    font-size: 40px;*/
/*    text-align: center;*/
/*}*/

#registerFormTitle{
    text-decoration: none;
    color: black;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-variation-settings:
            "wdth" 100;
    font-size: 40px;
    text-align: center;
}

.id_ok{
    color:#008000;
    display: none;
}

.id_already{
    color:#6A82FB;
    display: none;
}