<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://thymeleaf.org"
       layout:decorate="~{layout/base}">
<div layout:fragment="content" class="container my-3">
    <h1 class="visually-hidden">Heroes examples</h1>

    <div class="px-4 py-5 my-5 text-center">
        <div><i class="bi bi-check-circle" style="font-size: 5rem; color: green;"></i></div>
        <h3 class="fw-bold text-body-emphasis" th:text="${successMessage}"></h3>
        <h3 class="fw-bold text-body-emphasis"><span th:text="${finalPrice}">20000</span>원</h3>
        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="/mypage/list/orderList">주문내역으로 이동</a>
                <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/">홈으로 이동</a>
            </div>
        </div>
    </div>
</div>
</html>