<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/base}" >
<th:block layout:fragment="style">
    <link rel="stylesheet" th:href="@{/css/user/loginForm.css}" />
</th:block>

<div layout:fragment="content" class="container my-3">
    <div class="row text-center">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="form-signin">
                <form action="/user/login" method="post">
                    <img class="mb-4" src="/image/login/logo.png" alt="" width="auto" height="250">
                    <h1 class="h3 mb-3 fw-normal" id="linkLogo">BookHub Login</h1>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="id" name="id" placeholder="아이디 입력...">
                        <label for="id">아이디</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
                        <label for="pwd">비밀번호</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> 아이디 저장
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-dark" type="submit" style="margin-bottom: 8px;">로그인</button>
                    <a href="/user/register" class="w-100 btn btn-lg btn-secondary">회원가입</a> <!-- 회원가입 버튼 -->

                    <br>
                    <br>
                    <a href="/passwordReset" class="text-center" style="display: block;">비밀번호를 잊으셨나요?</a>

                    <div class="text-center mt-3">
                        <a class="naver" href="" style="margin: 0 10px;"><img th:src="@{/image/login/naverLogin.png}" style="width: 40px; height: 40px"></a>
                        <a class="kakao" href="" style="margin: 0 10px;"><img th:src="@{/image/login/kakaoLogin.png}" style="width: 40px; height: 40px"></a>
                        <a class="google" href="" style="margin: 0 10px;"><img th:src="@{/image/login/googleLogin.png}" style="width: 40px; height: 40px"></a>
                    </div>

                </form>
                <p class="mt-5 mb-3 text-muted">&copy; 2024–2024</p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="/js/user/loginForm.js"></script>
</th:block>


</html>