<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/base}" >

<th:block layout:fragment="style">
    <link rel="stylesheet" th:href="@{/css/user/myPage.css}" />
</th:block>

<div layout:fragment="content" class="container my-3">
    <div class="row">

        <!-- 사이드바 시작 -->
        <div class="col-3">
            <div class="card">
                <div class="card-header">상품 / 주문</div>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">주문내역</a>
                    <a href="#" class="list-group-item list-group-item-action">주문 취소 내역</a>
                    <a href="" class="list-group-item list-group-item-action">교환,반품 내역</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">나의 정보</div>
                <div class="list-group">
                    <a href="/mypage/userInfo" class="list-group-item list-group-item-action">회원 정보</a>
                    <a href="" class="list-group-item list-group-item-action">찜 목록</a>
                    <a href="#" class="list-group-item list-group-item-action">배송지 관리</a>
                    <a href="#" class="list-group-item list-group-item-action"> 쿠폰 </a>
                    <a href="#" class="list-group-item list-group-item-action"> 1 : 1 문의내역 조회 </a>
                    <a href="#" class="list-group-item list-group-item-action">회원 탈퇴</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">공지사항</div>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">공지사항</a>
                    <a href="#" class="list-group-item list-group-item-action">1 : 1 문의하기</a>
                    <a href="#" class="list-group-item list-group-item-action">FAQ</a>
                </div>
            </div>
        </div> <!-- 사이드바 끝 -->
        <!-- 사이드바 끝 -->


        <!-- ########## 포인트 , 등급 , 쿠폰 , 이름 시작 ########## -->
        <div class="col-8">
            <!--마일리지 , 멤버십 -->
            <table class="table">
                <tbody>
                    <tr>
                        <td class="" colspan="3" >
                            <p style="text-align: center">
                                <span id="welcomeName" th:text="${user.name}"> XXXX 님 안녕하세요 </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th class="">
                            <div class="">
                                <div class="fw-normal" style="text-align: center">
                                    <p class="">멤버십 등급 : <span class="" style="font-weight: bold" th:text="${user.userGrade.name}" >일반 &nbsp; </span>
                                        <br><br>
                                        <a href="#" class="btn btn-secondary btn-sm">
                                            <span class="">  자세히보기</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </th>
                        <td>
                            <div class="">
                                <div class="" style="text-align: center">
                                    <p class="">적립금 :
                                        <span class="" style="font-weight: bold" th:text="${user.point}"> Y </span> &nbsp;
                                        <br><br>
                                        <a href="#" class="btn btn-secondary btn-sm">
                                            <span class="">자세히보기</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <div class="" style="text-align: center">
                                    <p class=""> 보유 쿠폰 :
                                        <span class="" style="font-weight: bold" th:text="${couponCnt}"> X </span>개 &nbsp;
                                        <br><br>
                                        <a href="#" class="btn btn-secondary btn-sm">
                                            <span class="">자세히보기</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- ########## 포인트 , 등급 , 쿠폰 , 이름 끝 ########## -->
            <br>

            <!--####### 주문내역 검색 옵션  #############-->
            <div class="account_table">
                <a href="#">
                    <img src="/image/userInfo/recentlyOrderList.jpg" alt=" 최근 주문 내역" style="margin:0 0 10px 0; width: auto; height: 30px;">
                </a>
           <!--
                <table class="table">
                    <colgroup>
                        <col width="40%">
                        <col width="">
                        <col width="">
                    </colgroup>
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td>
                            <select>
                                <option value="0">&nbsp;전체 보기&nbsp;&nbsp;</option>
                                <option value="1">&nbsp;2024&nbsp;</option>
                                <option value="2">&nbsp;2023&nbsp;</option>
                                <option value="3">&nbsp;2022&nbsp;</option>
                                <option value="4">&nbsp;2021&nbsp;</option>
                                <option value="5">&nbsp;2020&nbsp;</option>
                                <option value="6">&nbsp;2019&nbsp;</option>
                            </select>
                            <span style="color: #636363; font-weight: bold;"> 년</span>
                            &nbsp;
                            <select>
                                <option value="0">&nbsp;전체보기 &nbsp;&nbsp;</option>
                                <option value="1">&nbsp;1</option>
                                <option value="2">&nbsp;2</option>
                                <option value="3">&nbsp;3</option>
                                <option value="4">&nbsp;4</option>
                                <option value="5">&nbsp;5</option>
                                <option value="6">&nbsp;6</option>
                                <option value="7">&nbsp;7</option>
                                <option value="8">&nbsp;8</option>
                                <option value="9">&nbsp;9</option>
                                <option value="10">&nbsp;10</option>
                                <option value="11">&nbsp;11</option>
                                <option value="12">&nbsp;12</option>
                            </select>
                            <span style="color: #636363; font-weight: bold;"> 월</span>
                        </td>
                        <td style="text-align: center;">
                            <span style="color: #636363; font-weight: bold;"> 주문검색 : </span>
                            <select>
                                <option value="0">&nbsp;주문 상품&nbsp;</option>
                                <option value="1">&nbsp;주문 번호&nbsp;</option>
                            </select>
                            <input type="text" placeholder="검색어">
                        </td>
                        <td  style="text-align: center;">
                            <button type="submit" class="btn btn-secondary">검색</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            -->
            </div>
            <!--####### 주문내역 검색 옵션 종료 #########-->
            <!-- ####   주문내역 검색 결과 시작  ### --->
            <table class="table" style="text-align: center">
                <colgroup>
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                </colgroup>
                <thead>
                <tr>
                    <th>주문 일자</th>
                    <th>주문 번호</th>
                    <th>주문 상품</th>
                    <th>주문 상태</th>
                    <th> 수령인 </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2024-04-18</td>
                    <td><a href="" id="orderNoHref">10156123</a></td>
                    <td>상품명 ABCVDE</td>
                    <td>배송완료</td>
                    <td>나타</td>
                </tr>
                <tr>
                    <td>2024-04-18</td>
                    <td><a href="">10156123</a></td>
                    <td>상품명 ABCVDE</td>
                    <td>배송완료</td>
                    <td>황제</td>
                </tr>
                <tr>
                    <td>2024-04-18</td>
                    <td><a href="">10156123</a></td>
                    <td>상품명 ABCVDE</td>
                    <td>배송완료</td>
                    <td>치우</td>
                </tr>
                <tr>
                    <td>2024-04-18</td>
                    <td><a href="">10156123</a></td>
                    <td>상품명 ABCVDE</td>
                    <td>배송완료</td>
                    <td>헌원</td>
                </tr>
                <tr>
                    <td>2024-04-18</td>
                    <td><a href="">10156123</a></td>
                    <td>상품명 ABCVDE</td>
                    <td>배송완료</td>
                    <td>구야자</td>
                </tr>
                </tbody>
            </table>










            <br>
            <!-- 나의 1:1 문의 시작 -->
            <div style="margin:0 0 30px 0;">
                <a href="#">
                    <img src="/image/userInfo/1vs1.jpg"  alt="나의 1:1 문의"  style="margin:0 0 10px 0; width: auto; height: 35px;">
                </a>
                <table class="table">
                    <colgroup>
                        <col width="15%">
                        <col width="50%">
                        <col width="20%">
                        <col width="15%">
                    </colgroup>
                    <tr align="center">
                        <th> 문의 종류</th>
                        <th> 글 제목</th>
                        <th> 작성 날짜 </th>
                        <th> 답변 완료</th>
                    </tr>
                    <tr>
                        <td colspan="4" align="center">등록하신 1:1 문의 글이 없습니다.</td>
                    </tr>
                    <tr>
                        <td> 교환/환불 </td>
                        <td> 환불 신청 하고 물건 보냈는데 입금 언제되나요 ?</td>
                        <td> 2024-04-18</td>
                        <td align="center"> N </td>
                    </tr>
                    <tr>
                        <td> 교환/환불 </td>
                        <td> 환불 신청 하고 물건 보냈는데 입금 언제되나요 ?</td>
                        <td> 2024-04-18</td>
                        <td align="center"> N </td>
                    </tr>
                    <tr>
                        <td> 교환/환불 </td>
                        <td> 환불 신청 하고 물건 보냈는데 입금 언제되나요 ?</td>
                        <td> 2024-04-18</td>
                        <td align="center"> N </td>
                    </tr>
                </table>
            </div>
            <!-- 나의 1:1 문의 끝 -->
        </div>
    </div>
</div>
</html>