<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/base}" >

<div layout:fragment="content" class="container">
    <h2>자유게시판</h2>
    <a href="/board/community/register" class="btn btn-primary">게시글 작성하기</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">날짜</th>
        </tr>
        </thead>
        <!-- 기존의 게시글 목록 표시 -->
        <tbody >
        <tr th:each="community : ${communities}">
            <td th:text="${community.no}"></td>
            <td><a th:href="@{/board/community/detail/{id}(id=${community.no})}" th:text="${community.title}" style="color: black; text-decoration: none;"></a></td>
            <td th:text="${community.user.getName()}"></td>
            <td th:text="${#temporals.format(community.createDate,'yyyy.MM.dd')}"></td>
        </tr>
        </tbody>
    </table>

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-sm">
                <!-- 이전 페이지 링크 -->
                <li class="page-item">
                    <a class="page-link" th:attr="data-page=${page.currentPage - 1}" onclick="page(event)" th:href="@{/board/community/list(page=${page.currentPage - 1})}" th:if="${page.currentPage > 1}">이전</a>
                    <span class="page-link disabled" th:unless="${page.currentPage > 1}">이전</span>
                </li>
                <!-- 페이지 번호를 표시 -->
                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(page.beginPage, page.endPage)}" th:class="${pageNumber == page.currentPage} ? 'active' : ''">
                    <a class="page-link" th:attr="data-page=${pageNumber}" onclick="page(event)" th:href="@{/board/community/list(page=${pageNumber})}" th:text="${pageNumber}"></a>
                </li>
                <!-- 다음 페이지 링크 -->
                <li class="page-item">
                    <a class="page-link" th:attr="data-page=${page.currentPage + 1}" onclick="page(event)" th:href="@{/board/community/list(page=${page.currentPage + 1})}" th:if="${page.currentPage < page.totalPages}">다음</a>
                    <span class="page-link disabled" th:unless="${page.currentPage < page.totalPages}">다음</span>
                </li>
            </ul>
        </nav>
    </div>



    <div class="col-md-6 "> <!-- 열의 순서를 변경하여 폼을 왼쪽으로 이동 -->
        <form id="searchForm" th:action="@{/board/community/list}" method="get" class="d-flex align-items-center text-end">
            <input type="hidden" name="page">
            <div class="me-2">
                <input id="keywordInput" type="text" name="keyword" th:value="${param.keyword}" placeholder="검색어를 입력하세요">
            </div>
            <div>
                <button type="submit">검색</button>
            </div>
        </form>
    </div>
</div>
<div layout:fragment="script">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function setSearchOption(option, text) {
        document.getElementById('searchOption').value = option;
        document.getElementById('dropdownMenuButton').innerText = text;

    }


    function page(event) {
        event.preventDefault();
        let page = event.target.getAttribute("data-page");
        document.querySelector("input[name=page]").value = page;

        document.querySelector("#searchForm").submit();
    }

</script>
</div>