<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" >
</head>
<body>
<div class="container">
    <h2>공지사항</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">날짜</th>
        </tr>
        </thead>
        <tbody>
        <!-- 공지사항 게시글 반복문 -->
        <tr th:each="notices : ${notices}">
            <td scope="row" th:text="${notices.no}"></td>
            <td th:text="${notices.title}"></td>
            <td th:text="${#temporals.format(notices.createDate, 'yyyy.MM.dd')}"></td>
        </tr>
        </tbody>
        <div class="text-end">
            <a href="/board/notices/register" class="btn btn-primary">게시글 등록</a>
        </div>
    </table>

    <div th:if="${totalPages > 1}" >
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${currentPage > 1}">
                <a class="page-link" th:href="@{/templates/board/community/list(page=1)}">맨 앞</a>
            </li>
            <li class="page-item" th:if="${currentPage > 1}">
                <a class="page-link" th:href="@{/templates/board/community/list(page=${currentPage - 1})}">이전</a>
            </li>
            <!-- 페이지 번호를 표시 -->
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:class="${pageNumber == currentPage} ? 'active' : ''">
                <a class="page-link" th:href="@{/templates/board/community/list(page=${pageNumber})}" th:text="${pageNumber}"></a>
            </li>
            <li class="page-item" th:if="${currentPage < totalPages}">
                <a class="page-link" th:href="@{/templates/board/community/list(page=${currentPage + 1})}">다음</a>
            </li>
            <li class="page-item" th:if="${currentPage < totalPages}">
                <a class="page-link" th:href="@{/templates/board/community/list(page=${totalPages})}">맨 뒤</a>
            </li>
        </ul>
        </nav>
    </div>

</div>
</body>
</html>