<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://thymeleaf.org"
       layout:decorate="~{layout/base}">
<div layout:fragment="content" class="container my-3">
        <div class="row mb-3">
            <div class="col-9">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h5 class="my-0 fw-normal">주문 상품</h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr th:each="orderBook, iterStat : ${orderBookList}">
                                <td><img src=""></td>
                                <td th:text="${orderBook.name}"></td>
                                <td id="order-book-price" th:text="${orderBook.price}"></td>
                                <td id="order-book-count" th:text="${orderBookCountList.get(iterStat.index)}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h5 class="my-0 fw-normal">주문 합계</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="d-flex justify-content-between">
                                <span>상품금액</span>
                                <span id="total-price"></span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>배송비</span>
                                <span>+ </span><span id="delivery-price">2000</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>상품할인</span>
                                <span id="book-discount-total-price"></span>
                            </li>
                            <hr class="my-4">
                            <li class="d-flex justify-content-between">
                                <span>결제 예정 금액</span>
                                <span id="final-price"></span>
                            </li>
                        </ul>
                        <form method="post" th:action="@{/kakaoPay/ready}">
                            <button type="submit" class="w-100 btn btn-lg btn-primary">결제하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

<script layout:fragment="script" type="text/javascript">
    function updatePrices(){
        let totalPrice = 0;
        let bookDiscountTotalPrice = 0;

        $("tbody tr td[id^=order-book-price]").each(function(){
            let price = parseInt($(this).text());
            let count = parseInt($(this).closest('tr').find('#order-book-count').text());
            totalPrice += price * count;
            bookDiscountTotalPrice += (price * count *  0.1);
        });
        $("#total-price").text(totalPrice);
        $("#book-discount-total-price").text(bookDiscountTotalPrice);

        updateFinalPrice(totalPrice, bookDiscountTotalPrice);
    }

    function updateFinalPrice(totalPrice, bookDiscountTotalPrice){
        let deliveryPrice = parseInt($("#delivery-price").text());
        let finalPrice = totalPrice + deliveryPrice - bookDiscountTotalPrice;

        $("#final-price").text(finalPrice);
    }

    updatePrices();

</script>
</html>