<html lang="ko" layout:decorate="~{admin/layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content" class="container-fluid">
    <div class="row me-5 mt-3 mb-5">
        <div class="col-12">
            <h3>상품 정보수정</h3>

            <form th:object="${product}" method="post">
                <!-- 카테고리 수정 영역-->
                <div class="col-12 bg-light p-3 mb-3">
                    <h5>카테고리</h5>
                    <table class="table table-bordered">
                        <tr>
                            <td class="bg-light align-middle text-center" style="width: 250px;">카테고리 선택</td>
                            <td>
                                <table class="table table-bordered text-center">
                                    <thead>
                                    <tr>
                                        <th style="width: 50%;">대분류</th>
                                        <th style="width: 50%;">중분류</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <select th:field="*{topCategoryNo}" class="form-select" size="10"
                                                    style="width: 100%;">
                                                <option th:each="topLevelCategory : ${topLevelCategories}"
                                                        th:value="${topLevelCategory.no}"
                                                        th:text="${topLevelCategory.name}">
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <select th:field="*{secondCategoryNo}" class="form-select" size="10"
                                                    style="width: 100%;">
                                                <option th:each="secondLevelCategory : ${secondLevelCategories}"
                                                        th:value="${secondLevelCategory.no}"
                                                        th:text="${secondLevelCategory.name}">
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-sm">저장</button>
                    </div>
                </div>

                <!-- 기본정보 수정 영역-->
                <div class="col-12 bg-light p-3 mb-3">
                    <h5>기본정보</h5>
                    <table class="table table-bordered">
                        <tr>
                            <td class="bg-light align-middle text-center" style="width: 250px;">상품 번호</td>
                            <td>
                                <input type="text" th:value="${product.no}" class="form-control-sm" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-light align-middle text-center" style="width: 250px;">상품명</td>
                            <td>
                                <input name="name" type="text" th:value="${product.name}" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-light align-middle text-center" style="width: 250px;">상품설명</td>
                            <td>
                                    <textarea class="form-control" th:text="${product.description}">
                                    </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-light align-middle text-center" style="width: 250px;">출판사</td>
                            <td>
                                <select th:field="*{publisherNo}" class="form-select-sm">
                                    <option th:each="publisher : ${publishers}"
                                            th:value="${publisher.no}"
                                            th:text="${publisher.name}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-light align-middle text-center" style="width: 250px;">판매상태</td>
                            <td>
                                <label><input type="radio" name="status" value="정상"
                                              th:checked="${product.status == '정상'}"> 정상</label>
                                <label><input type="radio" name="status" value="절판"
                                              th:checked="${product.status == '절판'}"> 절판</label>
                                <label><input type="radio" name="status" value="품절"
                                              th:checked="${product.status == '품절'}"> 품절</label>
                                <label><input type="radio" name="status" value="삭제"
                                              th:checked="${product.status == '삭제'}"> 삭제</label>
                            </td>
                        </tr>
                    </table>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-sm">저장</button>
                    </div>
                </div>

                <!-- 가격 및 재고 수정 영역-->
                <div class="col-12 bg-light p-3 mb-3">
                    <h5>가격 및 재고</h5>
                    <table class="table table-bordered">
                        <tr>
                            <td class="bg-light align-middle text-center" style="width: 250px;">정가</td>
                            <td>
                                <input name="listPrice" type="text" class="form-control-sm price"
                                       th:value="${product.listPrice}"> 원
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-light align-middle text-center" style="width: 250px;">할인율</td>
                            <td>
                                <input name="discountRate" type="text" th:value="${product.discountRate}"
                                       class="form-control-sm price">
                                <span class="ms-5">판매가격</span>
                                <input id="sellingPrice" type="text"
                                       th:value="${#numbers.formatInteger(product.listPrice * (1 - product.discountRate), 1, 'COMMA')}"
                                       class="form-control-sm" disabled> 원
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-light align-middle text-center" style="width: 250px;">재고</td>
                            <td>
                                <input name="stock" type="text" th:value="${product.stock}" class="form-control-sm">
                                개
                            </td>
                        </tr>
                    </table>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-sm">저장</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script layout:fragment="script" type="text/javascript">
    $(function () {

        $("#topCategoryNo").change(function () {
            const topCategoryNo = $(this).val();
            let $secondCategorySelector = $("#secondCategoryNo");
            getSubCategoryOptions(topCategoryNo, $secondCategorySelector);
        })

        $("#secondCategoryNo").change(function () {
            const secondCategoryNo = $(this).val();
            let $thirdCategorySelector = $("#thirdCategoryNo");
            getSubCategoryOptions(secondCategoryNo, $thirdCategorySelector);
        })

        function getSubCategoryOptions(superCategoryNo, $selector) {

            $.ajax({
                url: "/admin/getSubCategories",
                method: "GET",
                data: {categoryNo: superCategoryNo},
                success: function (subCategories) {
                    $selector.empty();

                    subCategories.forEach(secondLevelCategory => {
                        let option = $('<option>')
                            .val(secondLevelCategory.no)
                            .text(secondLevelCategory.name);

                        $selector.append(option);
                    });
                },
                error: function (xhr, status, error) {
                    console.error("오류 발생:", error);
                }
            });
        }

        // 판매가격 표시
        $("input.price").on("input", function () {
            let discountRate = parseFloat($("input[name='discountRate']").val());
            let listPrice = parseFloat($("input[name='listPrice']").val());

            let sellingPrice = Math.round(listPrice * (1 - discountRate));
            $("#sellingPrice").val(sellingPrice.toLocaleString());
        });

    });
</script>

</html>