<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>::: 회원가입 완료 :::</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 40px; background-color: #f9f9f9;">
    <tr>
        <td align="center" style="max-width: 20%;">
<!-- 브라우저에서 뜨는 사진에 경로를 입력해야한다고함 + localhost라 안될꺼라고함           -->
<!--            <img src="/static/image/login/logo.png" alt="BookHub 로고" style="max-width: 100%;">-->
        </td>
    </tr>
    <tr>
        <td align="center">
            <!-- 텍스트로 회사 이름 표시 -->
            <div style="font-size: 24px; font-weight: bold;">BookHub</div>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding: 20px; font-size: 24px; font-weight: bold;">
            회원가입이 완료 되었습니다
        </td>
    </tr>
    <tr>
        <td align="center" style="padding: 10px; font-size: 32px; font-weight: bold; color: #333; background-color: #ffffff; border-radius: 5px; margin: 10px;">
            환영합니다, <span >NAME</span>님!
        </td>

    </tr>
    <tr>
        <td align="center" style="font-size: 16px; padding: 30px;">
            <p>BookHub에 가입해 주셔서 감사합니다. 이제부터 BookHub의 모든 기능을 이용하실 수 있습니다.</p>
            <p>다양한 책과 서비스를 즐기시기 바랍니다.</p>
            <p>문의 사항이 있으시면 언제든지 저희에게 연락 주세요.</p>
        </td>
    </tr>
</table>
</body>
</html>