<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/base}">
<div layout:fragment="content" class="container">
    <div class="row">
        <!-- 사이드바 -->
        <div class="col-lg-3">
            <aside class="sidebar">
                <h3 style="margin-bottom: 15px;"><strong>고객센터</strong></h3>
                <ul style="list-style: none; padding: 0; margin-bottom: 30px;">
                    <li style="margin-bottom: 10px;"><strong><a th:href="@{/board/faq/list}" style="color: black; text-decoration: none;">메인</a></strong></li><br>
                    <li style="margin-bottom: 10px;"><strong><a th:href="@{/board/faq/list}" style="color: black; text-decoration: none;">자주 묻는 질문</a></strong>
                        <ul th:each="category : ${faqCategory}" style="list-style: none; padding: 0; margin-top: 10px;">
                            <li style="margin-bottom: 10px;"><a th:text="${category.name}" th:href="@{/board/faq/list(cat=${category.no})}" style="color: black; text-decoration: none;">BEST 10</a></li>
                        </ul>
                    </li><br>
                    <li style="margin-bottom: 10px;"><strong><a th:href="@{/board/inquiry/list}" style="color: black; text-decoration: none;">1:1 문의</a></strong>
                        <ul style="list-style: none; padding: 0; margin-top: 10px;">
                            <li style="margin-bottom: 10px;"><a th:href="@{/board/inquiry/register}" style="color: black; text-decoration: none;">1:1 문의 접수</a></li>
                            <li style="margin-bottom: 10px;"><a th:href="@{/board/inquiry/list}" style="color: black; text-decoration: none;">1:1 문의 내역</a></li>
                        </ul>
                    </li><br>
                    <li style="margin-bottom: 10px;"><strong><a href="#" style="color: black; text-decoration: none;">공지사항</a></strong></li>
                </ul>
            </aside>
        </div>

        <!-- 1:1 문의 수정 폼 -->
        <div class="col-lg-9">
            <h1 class="text-center">1:1 문의 수정</h1>
            <form th:action="@{/board/inquiry/modify/{no}(no=${inquiry.no})}" method="post">
                <input type="hidden" name="inquiryNo" th:value="${inquiry.no}">
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${inquiry.title}" required>
                </div>
                <div class="form-group">
                    <label for="category">카테고리</label>
                    <select class="form-control" id="category" name="catNo" required>
                        <option th:each="category : ${faqCategory}" th:value="${category.no}"
                                th:text="${category.name}" th:selected="${category.no == inquiry.faqCategory.no}">카테고리</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea class="form-control" id="content" name="content" rows="20" required th:text="${inquiry.content}"></textarea>
                </div>
                <div class="form-row align-items-center">
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">수정</button>
                        <a href="/" class="btn btn-secondary">돌아가기</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>