<html lang="ko"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/base}">
<div  layout:fragment="content">
    <div class="pb-5">
        <!-- 전체적인 그래프 row -->
        <div class="row g-4 pt-5 pe-5">
            <!-- 위쪽 그래프 파트 -->
            <div class="col-12">
                <div class="mb-3">
                    <h2 class="mb-2">Daily DashBoard</h2>
                    <h5 class="text-body-tertiary fw-semibold"></h5>
                </div>

                <!-- 중간선 그리고 그래프와의 여백   -->
                <hr class="bg-body-secondary mb-6 mt-4">
                <!-- 그래프위에 div -->
                <form action="/dash/getYesterDay.do">
                    <span>
                        해당 하는 날짜를 선택하세요 :
                    </span>
                    <input class="datepicker" name="day" >
                </form>
                <div class="row flex-between-center mb-4 g-3">

                    <div class="col-10 pt-3">
                        <h3>해당하는 날짜의 매출</h3>
                        <p class="text-body-tertiary lh-sm mb-0">매일 오전 10시에 업데이트 됩니다</p>
                    </div>
                </div>
                <!-- 그래프 div chart.js 적용해야함 -->
                <div class="col-8">
                    <canvas id="myChart" class="pb-5"></canvas>
                </div>
            </div><!-- 위쪽 그래프 파트 -->



            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <h2>Change the background</h2>
                        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <h2>Add borders</h2>
                        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                    </div>
                </div>
            </div>

        </div><!-- 전체적인 그래프 row -->
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart');
    let chart = new Chart(ctx, {
        type: "bar",
        data: {
            // 표 아래 글씨
            labels: [], // 'allCustomer'를 따옴표로 감싸서 문자열로 처리
            datasets: [{
                label : '매출액',
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'rgba(0, 255, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            parsing: {
                xAxisKey: 'dayTotalDate',
                yAxisKey: 'dayTotalPrice'
            }
        }
    });

        $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            yearSuffix: '년',

            onSelect: function(text) {
                document.getElementById('myChart').innerHTML = "";

                $.ajax({
                    url: '/dash/getYesterDay.do',
                    method: 'POST',
                    data: {value: text},
                    success: function(response) {
                        chart.data.datasets[0].data[0] = response; // Would update the first dataset's value of 'March' to be 50
                        chart.update(); // Calling update no

                    },
                    error: function(xhr, status, error) {
                    // 오류 처리
                }
            });
        }
    });


    $('.datepicker').datepicker();

</script>
</div>
</html>