<html lang="ko"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/base}">
<div  layout:fragment="content">
    <div class="pb-5">
        <!-- 전체적인 그래프 row -->
        <div class="row g-4 pt-5 pe-5">
            <!-- 위쪽 그래프 파트 -->
            <div class="col-12">
                <div class="mb-3">
                    <h2 class="mb-2">Daily DashBoard</h2>
                    <h5 class="text-body-tertiary fw-semibold"></h5>
                </div>

                <!-- 중간선 그리고 그래프와의 여백   -->
                <hr class="bg-body-secondary mb-6 mt-4">
                <!-- 그래프위에 div -->
                <form action="/dash/getYesterDay.do" class="form-control">
                    <span>
                        <strong>해당 하는 날짜를 선택하세요</strong> :
                    </span>
                    <!-- Datepicker  -->
                    <input class="datepicker" name="day" >
                </form>
                <div class="row flex-between-center mb-4 g-3">

                    <div class="col-10 pt-3">
                        <h3>해당하는 날짜의 매출</h3>
                        <p class="text-body-tertiary lh-sm mb-0">매일 오전 10시에 업데이트 됩니다</p>
                    </div>
                </div>
                <!-- 그래프 div chart.js 적용해야함 -->
                <div class="col-8">
                    <canvas id="myChart" class="pb-5"></canvas>
                </div>
            </div><!-- 위쪽 그래프 파트 -->


            <!-- 세부 항목 들어가는 곳 -->
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <h2 class="pb-3">세부정보 비율</h2>
                        <canvas id="detailChart" class="pb-5" style="height: 300px;"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <h2 class="pb-3">세부정보</h2>
                        <table class="table mt-4" id="xxx">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <th>책 제목</th>
                                <th>팔린 권 수</th>
                                <th>팔린 금액</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div><!-- 전체적인 그래프 row -->
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    // maxDate 값을 넣기 위한 어제 날짜구하기
    // 오늘 날짜 계산
    let today = new Date();
    // 어제 날짜 계산
    let yesterday = new Date(today);
    yesterday.setDate(today.getDate() - 1);




    const ctx = document.getElementById('myChart');
    let chart = new Chart(ctx, {
        type: "bar",
        data: {
            // 표 아래 글씨
            labels: [], // 'allCustomer'를 따옴표로 감싸서 문자열로 처리
            datasets: [{
                label : '매출액',
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'rgba(0, 255, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            parsing: {
                xAxisKey: 'dayTotalDate',
                yAxisKey: 'dayTotalPrice'
            }
        }
    });

        $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            yearSuffix: '년',

            onSelect: function(text) {
                document.getElementById('myChart').innerHTML = "";

                $.ajax({
                    url: '/dash/getDayTotal.do',
                    method: 'POST',
                    data: {value: text},
                    success: function(response) {
                        chart.data.datasets[0].data[0] = response; // Would update the first dataset's value of 'March' to be 50
                        chart.update();


                        let $tbody = $("#xxx tbody").empty();
                        response.items.forEach(function(item) {
                            let tr = `
                                <tr>
                                    <td>${item.bookName.name}</td>
                                    <td>${item.soldCount}</td>
                                    <td>${item.soldSum}</td>
                                </tr>
                            `
                            $tbody.append(tr);

                        })
                        detailChart(text);
                    },
                    error: function(xhr, status, error) {
                    // 오류 처리
                }



            });
        }
    });

    const detail = document.getElementById('detailChart');
    // 차트 인스턴스를 저장할 전역 변수
    var detailChartInstance = null;

    function detailChart(text) {
        $.ajax({
            url: "/dash/getDetailPercent.do",
            type: "Post",
            dataType: "json",
            data: {searchData: text},
            success: function(response) {
                let labelArray = [];
                let dataArray = [];

                response.forEach(function(item) {
                    labelArray.push(item.bookName.name);
                    dataArray.push(item.percent);
                });

                const chartData = {
                    labels: labelArray,
                    datasets: [{
                        label: '판매율',
                        data: dataArray,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(255, 205, 86, 1)',
                        borderWidth: 1
                    }]
                };

                // 차트가 이미 존재하는 경우, 데이터만 업데이트
                if (detailChartInstance) {
                    detailChartInstance.data = chartData;
                    detailChartInstance.update();
                } else {
                    // 차트 인스턴스가 없는 경우, 새로운 차트 생성
                    detailChartInstance = new Chart(document.getElementById('detailChart'), {
                        type: 'bar',
                        data: chartData,
                        options: {
                            indexAxis: 'y'
                        }
                    });
                }
            },
            error: function() {
                alert("서버에서 데이터를 가져오는 데 실패했습니다.");
            }
        });
    }





    $('.datepicker').datepicker({
        // midDate 값을 넣기 위한 서비스 시작일자 구하기
        minDate: new Date('2024-04-14'),
        maxDate: yesterday
    });


</script>
</div>
</html>