<html lang="ko"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/base}">
<div  layout:fragment="content">
    <div class="pb-5">
        <!-- 전체적인 그래프 row -->
        <div class="row g-4 pt-5 pe-5">
            <!-- 왼쪽 그래프 파트 -->
            <div class="col-12 col-xxl-6">
                <div class="mb-8">
                    <h2 class="mb-2 pb-3">관리자 퀵 대시보드</h2>
                    <h5 class="text-body-tertiary fw-semibold"></h5>
                </div>
                <div class="row align-items-center g-4">
                    <div class="col-12 col-md-auto">
                        <div class="d-flex align-items-center">
                            <!-- 래퍼런스 사이트에서 아이콘이 들어가는 태그 -->
                            <span class="fa-stack" style="min-height: 46px; min-width: 46px;"></span>
                            <div class="ms-3">
                                <a href="/admin/individual/noanswer" style="text-decoration-line: none">
                                    <i class="fas fa-solid fa-headset"></i>
                                    <h4 class="mb-0">답변 미완료된 문의</h4>
                                    <h5 class="text-body-secondary" th:text="${noAnswer} + '개'"></h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto">
                        <div class="d-flex align-items-center">
                            <!-- 래퍼런스 사이트에서 아이콘이 들어가는 태그 -->
                            <span class="fa-stack" style="min-height: 46px; min-width: 46px;"></span>
                            <div class="ms-3">
                                <a href="/admin/individual/answer" style="text-decoration-line: none">
                                    <i class="fas fa-solid fa-check"></i>
                                    <h4 class="mb-0">답변 완료된 문의</h4>
                                    <h5 class="text-body-secondary" th:text="${answer} + 개"></h5>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-auto">
                        <div class="d-flex align-items-center">
                            <!-- 래퍼런스 사이트에서 아이콘이 들어가는 태그
                            <span class="fa-stack" style="min-height: 46px; min-width: 46px;"></span>
                            <div class="ms-3">
                                <h4 class="mb-0">EX New Order</h4>
                                <p class="text-body-secondary">처리해야 할 주문개수</p>
                            </div> -->
                        </div>
                    </div>

                </div>
                <!-- 중간선 그리고 그래프와의 여백   -->
                <hr class="bg-body-secondary mb-6 mt-4">
                <!-- 그래프위에 div -->
                <div class="row flex-between-center mb-4 g-3">
                    <div class="col-auto">
                        <h3>최근 일주일의 매출</h3>
                        <p class="text-body-tertiary lh-sm mb-0">매일 오전 10시에 업데이트 됩니다</p>
                    </div>
                </div>
                <!-- 그래프 div chart.js 적용해야함 -->
                <div>
                    <canvas id="myChart" class="pb-5"></canvas>
                </div>
            </div><!-- 왼쪽 그래프 파트 -->
            <!-- 오른쪽 그래프 파트 -->
            <div class="col-12 col-xxl-6">
                <div class="row g-3">
                    <div class="col-12 col-md-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h5 class="mb-1">Total Books<span class="badge badge-phoenix badge-phoenix-warning rounded-pill fs-9 ms-2"><span class="badge-label">-6.8%</span></span></h5>
                                        <h6 class="text-body-tertiary">Last 7 days</h6>
                                    </div>
                                    <h4 id="BookText"></h4>
                                </div>
                                <div class="d-flex justify-content-center px-4 py-6">
                                    <!-- Total orders 그래프가 들어가야할 위치 -->
                                    <div>
                                        <canvas id="TotalOrders"></canvas>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <div class="d-flex align-items-center mb-2">
                                        <div class="bullet-item bg-primary me-2"></div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="bullet-item bg-primary-subtle me-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h5 class="mb-1">All Customers<span class="badge badge-phoenix badge-phoenix-warning rounded-pill fs-9 ms-2"> <span class="badge-label">+26.5%</span></span></h5>
                                        <h6 class="text-body-tertiary">Last 7 days</h6>
                                    </div>
                                    <h4 id="CustomerText"></h4>
                                </div>
                                <div class="pb-0 pt-4">
                                    <!-- All Customers 그래프가 들어가야할 위치 -->
                                    <div>
                                        <canvas id="AllCustomer"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h5 class="mb-2">Review</h5>
                                        <h6 class="text-body-tertiary">Last 5 Content</h6>
                                    </div>
                                </div>
                                <div class="pb-4 pt-3">
                                    <!-- Top Coupons 그래프가 들어가야할 위치 -->
                                    <table class="table">
                                        <colgroup>
                                            <col style="width: 100px;">
                                            <col style="width: 120px;">
                                            <col style="width: 80px;">
                                            <col style="width: 80px;">
                                        </colgroup>
                                        <thead>
                                            <th>책 이름</th>
                                            <th>내용</th>
                                            <th>작성자</th>
                                            <th>작성일</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="list : ${reviews}" style="text-overflow: ellipsis; overflow: hidden;">
                                                <td th:text="${list.bookName.name}"></td>
                                                <td th:text="${list.reviewComment}"></td>
                                                <td th:text="${list.userName.name}"></td>
                                                <td th:text="${#temporals.format(list.reviewUpdateDate, 'yyyy-MM-dd')}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex align-items-center mb-2">
                                        <div class="bullet-item bg-primary me-2"></div>
                                        <h6 class="text-body fw-semibold flex-1 mb-0">평균 별점:</h6>
                                        <h6 class="text-body fw-semibold mb-0 ps-2" th:text="${avgRate} + '/5'"></h6>
                                    </div>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h5 class="mb-2">Individual inquiry</h5>
                                        <h6 class="text-body-tertiary">Incomplete</h6>

                                    </div>
                                </div>
                                <div class="d-flex justify-content-center pt-3 flex-1">
                                    <!-- Paying vs non paying 그래프가 들어가야할 위치  -->
                                    <div>
                                        <canvas id="Paying"></canvas>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="d-flex align-items-center mb-2">
                                        <div class="bullet-item bg-primary me-2"></div>
                                        <h6 class="text-body fw-semibold flex-1 mb-0">미답변률: </h6>
                                        <h6 class="text-body fw-semibold mb-0 ps-2" th:text="${noAnswerRatio} + '%'">30%</h6>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="bullet-item bg-primary-subtle me-2"></div>
                                        <h6 class="text-body fw-semibold flex-1 mb-0">답변률: </h6>
                                        <h6 class="text-body fw-semibold mb-0 ps-2" th:text="${answerRatio} + '%'">70%</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- 오른쪽 그래프 파트 -->
        </div><!-- 전체적인 그래프 row -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(document).ready(function (){
            getAllCustomer();
            getAllBooks();
            getTotalYesterDay();
            getRatios();
        });
        const ctx = document.getElementById('myChart'); // 왼쪽 그래프
        const allctx = document.getElementById('AllCustomer');  // 오른쪽 우상
        const topctx = document.getElementById('TopCoupons'); // 오른쪽 좌하
        const totalctx = document.getElementById('TotalOrders'); // 오른쪽 그래프 좌상
        const payctx = document.getElementById('Paying');   // 오른쪽 우하

        <!-- Total selles 그래프 -->
        function getTotalYesterDay() {
            // let dateList = [];
            // let valueList = [];

            $.ajax({
                url: "/dash/getTotalYesterday.do",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    let chart = new Chart(ctx, {

                        type: "line",
                        data: {
                            // 표 아래 글씨
                            labels: [], // 'allCustomer'를 따옴표로 감싸서 문자열로 처리
                            datasets: [{
                                label : '매출액',
                                data: data,
                                borderColor: 'rgba(54, 162, 235, 1)',
                                backgroundColor: 'rgba(0, 255, 255, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            parsing: {
                                xAxisKey: 'dayTotalDate',
                                yAxisKey: 'dayTotalPrice'
                            }
                        }
                    });
                },
                error: function () {
                    alert("Failed to fetch data from the server.");
                }
            });
        }

        <!-- Total Orders -->
        function getAllBooks() {
            $.ajax({
                url: "/dash/getAllBookCnt.do",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    let text = document.getElementById("BookText");
                    text.textContent = data.allBook;
                    let chart = new Chart(totalctx, {
                        type: "bar",
                        data: {
                            // 표 아래 글씨
                            labels: ['전체 도서 갯수'], // 'allCustomer'를 따옴표로 감싸서 문자열로 처리
                            datasets: [{
                                // 표 위에 글씨
                                label: '도서 수',
                                data: [data.allBook], // data.allCustomer를 사용하여 데이터를 가져옴
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                error: function () {
                    alert("Failed to fetch data from the server.");
                }

            });
        }

        <!-- All customers -->
        function getAllCustomer() {
            $.ajax({
                url: "/dash/allCustomer.do", // 데이터를 가져올 URL
                type: "GET",
                dataType: "json",
                success: function (data) {
                    // DB값에 따라 html 코드에 대한 내용을 바꿔주는 코드
                    let text = document.getElementById("CustomerText");
                    text.textContent = data.allCustomer;

                    let chart = new Chart(allctx, {
                        type: "bar",
                        data: {
                            // 표 아래 글씨
                            labels: ['전체 회원 수'], // 'allCustomer'를 따옴표로 감싸서 문자열로 처리
                            datasets: [{
                                // 표 위에 글씨
                                label: '전체 회원수',
                                data: [data.allCustomer], // data.allCustomer를 사용하여 데이터를 가져옴
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                error: function () {
                    alert("Failed to fetch data from the server.");
                }
            });
        }
        // <!-- All customers -->
        // new Chart(allctx, {
        //     type: 'line',
        //     data: {
        //         labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        //         datasets: [{
        //             label: '# of Votes',
        //             data: [12, 19, 3, 5, 2, 3],
        //             borderWidth: 1
        //         }]
        //     },
        //     options: {
        //         scales: {
        //             y: {
        //                 beginAtZero: true
        //             }
        //         }
        //     }
        // });

        <!-- Top coupons -->
        function getRatios() {
            $.ajax({
                url: "/dash/ratio.do",
                type: "GET",
                dataType: "json",
                success: function (data){
                    let chart = new Chart(payctx, {
                        type: 'bar',
                        data: {
                            labels: ['답변률', '미답변률'],
                            datasets: [{
                                label: '1:1 문의',
                                data: [data[0].complete, data[0].incomplete],
                                borderColor: 'rgba(54, 162, 235, 1)',
                                backgroundColor: 'rgba(255, 205, 86, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            parsing: {
                                xAsisKey: '[data[0].key]',
                                yAxisKey: '[data[0].value]'
                            }
                        }
                    });
                },
                error: function(){
                    alert("Failed to fetch data from the server.");
                }
            });
        }


    </script>
</div>

</html>