<html lang="ko"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/base}">
<div  layout:fragment="content">
    <div class="pb-5">
        <!-- 전체적인 그래프 row -->
        <div class="row g-4 pt-5 pe-5">
            <!-- 위쪽 그래프 파트 -->
            <div class="col-12">
                <div class="mb-3">
                    <h2 class="mb-2">Range DashBoard</h2>
                    <h5 class="text-body-tertiary fw-semibold"></h5>
                </div>

                <!-- 중간선 그리고 그래프와의 여백   -->
                <hr class="bg-body-secondary mb-6 mt-4">
                <!-- 그래프위에 div -->
                <form action="/dash/getYesterDay.do" class="form-control">
                    <span>
                        <strong>조회하고 싶은 날짜의 범위를 선택하세요</strong> :
                    </span>
                    <!-- Datepicker  -->
                    <input class="datepicker" name="startDay" id="startDay">
                    <input class="datepicker" name="endDay" id="endDay">
                </form>
                <div class="row flex-between-center mb-4 g-3">

                    <div class="col-10 pt-3">
                        <h3>해당하는 날짜의 매출</h3>
                        <p class="text-body-tertiary lh-sm mb-0">매일 오전 10시에 업데이트 됩니다</p>
                    </div>
                </div>
                <!-- 그래프 div chart.js 적용해야함 -->
                <div class="col-8">
                    <canvas id="myChart" class="pb-5"></canvas>
                </div>
            </div><!-- 위쪽 그래프 파트 -->


            <!-- 세부 항목 들어가는 곳 -->
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <h2 class="pb-3">세부정보 비율</h2>
                        <canvas id="detailChart" class="pb-5" style="height: 300px;"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <h2 class="pb-3">세부정보</h2>
                        <table class="table mt-4" id="xxx">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <th>책 제목</th>
                                <th>팔린 권 수</th>
                                <th>팔린 금액</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div><!-- 전체적인 그래프 row -->
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    // maxDate 값을 넣기 위한 어제 날짜구하기
    // 오늘 날짜 계산
    let today = new Date();
    // 어제 날짜 계산
    let yesterday = new Date(today);
    yesterday.setDate(today.getDate() - 1);

    let startday = new Date('2024-04-14');


    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',	//날짜 포맷이다. 보통 yy-mm-dd 를 많이 사용하는것 같다.
        prevText: '이전 달',	// 마우스 오버시 이전달 텍스트
        nextText: '다음 달',	// 마우스 오버시 다음달 텍스트
        closeText: '닫기', // 닫기 버튼 텍스트 변경
        currentText: '오늘', // 오늘 텍스트 변경
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],	//한글 캘린더중 월 표시를 위한 부분
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],	//한글 캘린더 중 월 표시를 위한 부분
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],	//한글 캘린더 요일 표시 부분
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],	//한글 요일 표시 부분
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],	// 한글 요일 표시 부분
        showMonthAfterYear: true,	// true : 년 월  false : 월 년 순으로 보여줌
        yearSuffix: '년',	//
        // showButtonPanel: true,	// 오늘로 가는 버튼과 달력 닫기 버튼 보기 옵션
//        buttonImageOnly: true,	// input 옆에 조그만한 아이콘으로 캘린더 선택가능하게 하기
//        buttonImage: "images/calendar.gif",	// 조그만한 아이콘 이미지
//        buttonText: "Select date"	// 조그만한 아이콘 툴팁
    });

    $('#startDay').datepicker({
        maxDate: yesterday,
        minDate: startday,
        onselect: function(text) {
            getData();
        }
    })

    $('#endDay').datepicker({
        maxDate: yesterday,
        minDate: startday,
        onSelect: function(text) {
           getData();
        }
    })

    let chartInstance = null;

    function getData() {
        let startDay = document.getElementById("startDay").value;
        let endDay = document.getElementById("endDay").value;

        if (startDay != "" && endDay != "") {
            $.ajax({
                url: '/dash/getDetailRange.do',
                method: 'POST',
                data: {startDate: startDay, endDate: endDay},
                success: function (response) {
                    let labelArray = [];
                    let dataArray = [];

                    response.forEach(function(item) {
                        labelArray.push(item.dayTotalDate);
                        dataArray.push(item.dayTotalPrice);
                    });

                    // 차트가 이미 존재하는 경우, 데이터만 업데이트
                    if (chartInstance) {
                        chartInstance.data.labels = labelArray;
                        chartInstance.data.datasets[0].data = dataArray;
                        chartInstance.update();

                        let $tbody = $("#xxx tbody").empty();
                        response.items.forEach(function(item) {
                            let tr = `
                                <tr>
                                    <td>${item.bookName.name}</td>
                                    <td>${item.soldCount}</td>
                                    <td>${item.soldSum}</td>
                                </tr>
                            `
                            $tbody.append(tr);
                        })

                    } else {
                        // 차트 인스턴스가 없는 경우, 새로운 차트 생성
                        const main = document.getElementById('myChart');
                        chartInstance = new Chart(main, {
                            type: "line",
                            data: {
                                labels: labelArray,
                                datasets: [{
                                    label: '매출액',
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    backgroundColor: 'rgba(0, 255, 255, 1)',
                                    borderWidth: 1,
                                    data: dataArray
                                }]
                            },
                            options: {
                                parsing: {
                                    xAxisKey: 'dayTotalDate',
                                    yAxisKey: 'dayTotalPrice'
                                }
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    // 오류 처리
                }
            });
        }
    }




</script>
</div>
</html>