<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/base}" >

<div layout:fragment="content" class="container py-4">

    <div class="container mt-5">
        <h1 class="mb-4">출석체크</h1>
        <!-- 출석체크 이벤트 참여하기 버튼 -->
        <button class="btn btn-primary mb-3">출석체크 이벤트 참여하기</button>

        <!-- 출석체크하기 버튼 -->
        <button class="btn btn-success mb-3" style="display: none;">출석체크하기</button>

        <!-- 출석체크 날짜 카운트 -->
        <p></p>
    </div>
</div>