<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/base}" >
<div layout:fragment="content" class="container my-3">
    <style>
        .table {
            border-collapse: collapse;
            border: none;
        }

        .table th, .table td {
            border: none;
        }
    </style>

    <form id="form-gift-detail" method="post" action="/product/gift/order">
    <div class="row">
        <div class="col-9">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://cdn.pixabay.com/animation/2023/12/30/05/37/05-37-00-276_512.gif" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="form-group mt-5">
                                <textarea class="form-control custom-textarea" id="comment" name="comment" rows="8" placeholder="메시지 내용을 입력해주세요"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-9">
                <!-- 테이블1 -->
                <table class="table">
                    <tbody>
                        <tr>
                            <th>받는 분 수</th>
                            <td>
                                <select class="form-select" id="select-receiver-count" name="receiverCount" onclick="addReceivers()">
                                    <option value="1" selected> 1</option>명
                                    <option value="2" > 2</option>명
                                    <option value="3" > 3</option>명
                                    <option value="4" > 4</option>명
                                    <option value="5" > 5</option>명
                                    <option value="6" > 6</option>명
                                    <option value="7" > 7</option>명
                                    <option value="8" > 8</option>명
                                    <option value="9" > 1</option>명
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>보내는 분</th>
                            <td><input class="form-control" id="sender-name" name="senderName" /></td>
                        </tr>
                        <tr>
                            <th>선물 전달 방법</th>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="sendMethod" id="email" value="email" autocomplete="off" checked>
                                    <label class="btn btn-outline-primary" for="email">이메일</label>

                                    <input type="radio" class="btn-check" name="sendMethod" id="kakaotalk" value="kakaotalk" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="kakaotalk">알림톡</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- 테이블2 -->
                <table class="table">
                    <tbody id="tbody-receiver">
                        <tr>
                            <th>받는 분 1</th>
                            <td>
                                <input class="form-control receiver-name" name="receiverName" />
                                <input class="form-control receiver-email" name="receiverEmail" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" onclick="checkReceiverDelivery()" class="w-100 btn btn-lg btn-outline-dark">확인</button>
        </div>
        <div class="col-3"></div>
    </div>
    </form>
</div>



<script layout:fragment="script" type="text/javascript">

    function addReceivers() {
        let receiverCount = document.getElementById("select-receiver-count").value;
        let tbodyReceiver = document.getElementById("tbody-receiver");

       // tbodyReceiver.innerHTML = "";

        let row = "";
        for (let i = 0; i < receiverCount; i++) {
            row += `
                        <tr>
                            <th>받는 분 <span>${i + 1}</span></th>
                            <td>
                                <input class="form-control receiver-name" name="receiverName" />
                                <input class="form-control receiver-email" name="receiverEmail" />
                            </td>
                        </tr>
                      `;
            tbodyReceiver.innerHTML = row;
        }
    }

    function checkReceiverDelivery(){
        let allNamesValid = true;
        let allEmailsValid = true;

        if($("#sender-name").val() === "")
            alert("보내는 분 이름 입력이 완료되지 되지 않았습니다");

        $(".receiver-name").each(function() {
            if ($(this).val() === "") {
                alert("수령자 이름 입력이 완료되지 않았습니다");
                allNamesValid = false;
                return false;
            }
        });

        $(".receiver-email").each(function() {
            if ($(this).val() === "") {
                alert("수령자 이메일 입력이 완료되지 않았습니다");
                allEmailsValid = false;
                return false;
            }
        });

        if (!allNamesValid || !allEmailsValid) {
            return;
        }
        else{
            $("#form-gift-detail").submit();
        }


    }
</script>
</html>