<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/base}" >
<div layout:fragment="content" class="container my-3">

    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://cdn.pixabay.com/animation/2023/12/30/05/37/05-37-00-276_512.gif" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title mt-5"><strong><span th:text="${giftDtoList[0].senderName}"></span></strong>님이 선물을 보내셨습니다</h5>
                            <p class="card-text mt-5" th:text="${giftDtoList[0].comment}"></p>
                            <p class="card-text mt-5"><small class="text-body-secondary" th:text="${#temporals.format(giftDtoList[0].date, 'yyyy-MM-dd HH:mm:ss')}"></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 d-flex justify-content-between">
                    <h5 class="my-0 fw-normal"><strong>선물받은 상품</strong></h5>
                </div>
                <div class="card-body">
                    <table class="table" style="font-weight: bold">
                        <tbody>
                        <tr th:each="gift : ${giftDtoList}">
                            <td><img class="rounded mx-auto d-block" th:src="${gift.bookImageCover}"></td>
                            <td th:text="${gift.bookName}"></td>
                            <td th:text="${gift.authorName}"></td>
                            <td th:text="${gift.publisherName}"></td>
                            <td th:text="${gift.count}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <form id="form-gift-receiver" method="post" action="/product/gift/receiver">
                <input type="hidden" name="giftReceiverNo" th:value="${giftReceiverNo}" />
                <button type="button" class="btn btn-dark" onclick="showModalDeliveryCreate()">배송지 추가</button>
                <div id="cards">
                    <div th:each="userDelivery : ${userDeliveryList}">
                        <div class="card mt-3">
                            <div class="card-body row">
                                <div class="col-1">
                                            <span class="form-check">
                                                <input class="form-check-input radio-user-delivery" type="radio" name="userDeliveryNo" th:value="${userDelivery.no}"
                                                       th:checked="${userDelivery.defaultAddressYn eq 'Y'}" />
                                            </span>
                                </div>
                                <div class="col-11">
                                    <div>
                                                <span th:if="${userDelivery.defaultAddressYn eq 'Y'}">
                                                    <span class="badge rounded-pill bg-dark">기본배송지</span>
                                                </span>
                                    </div>
                                    <div>
                                        <span class="selected-user-delivery-name" th:text="${userDelivery.name}"></span>
                                        <span> / </span>
                                        <span class="selected-user-delivery-tel" th:text="${userDelivery.tel}"></span>
                                    </div>
                                    <div>
                                        <span class="selected-user-delivery-zip-code" th:text="${userDelivery.zipCode}"></span>
                                        <span class="selected-user-delivery-address" th:text="${userDelivery.address}"></span>
                                        <span class="selected-user-delivery-address-detail"th:text="${userDelivery.addressDetail}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" onclick="checkFormGiftReceiver()" class="btn btn-lg btn-outline-dark mt-5" style="width: 300px">확인</button>
                </div>
            </form>
        </div>
    </div>

    <!-- 배송지 추가 모달 -->
    <div class="modal" tabindex="-1" id="modal-delivery-create">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">배송지 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label class="form-label">이름</label>
                        <div class="row">
                            <div class="col-5">
                                <input id="created-name" type="text" class="form-control" />
                                <div class="text-danger"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="row">
                            <label class="form-label">전화번호</label>
                            <div class="col-2">
                                <select id="created-tel1" class="form-select" style="width: 80px">
                                    <option value="010">010</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <input id="created-tel2" type="text" class="form-control" style="width: 80px"/>
                                <div class="text-danger"></div>
                            </div>
                            <div class="col-2">
                                <input id="created-tel3" type="text" class="form-control" style="width: 80px"/>
                                <div class="text-danger"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">주소</label>
                        <div class="row mb-1">
                            <div class="col-4">
                                <input type="text" id="sample6_postcode" class="form-control" placeholder="우편번호">
                            </div>
                            <div class="col-8">
                                <input type="button" class="btn btn-dark" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-7">
                                <input type="text" id="sample6_address" placeholder="주소" class="form-control mb-1" >
                                <input type="text" id="sample6_detailAddress" placeholder="상세주소" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-dark" onclick="createDelivery()">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" type="text/javascript">
    const modalDeliveryCreate = new bootstrap.Modal("#modal-delivery-create");

    function showModalDeliveryCreate(){
        modalDeliveryCreate.show();
    }

    function createDelivery(){
        let responseData;

        let nameText = $("#created-name").val();
        let telText = $("#created-tel1").val() + $("#created-tel2").val() + $("#created-tel3").val();
        let zipCode = $("#sample6_postcode").val();
        let address = $("#sample6_address").val();
        let addressDetail = $("#sample6_detailAddress").val()

        if(nameText === "" || telText === "" || zipCode === "" || address === "" || addressDetail === ""){
            alert("배송지 입력을 완료해주세요");
        }
        else{
            $.ajax({
                url: '/product/buy/delivery/create',
                type: 'POST',
                data: {
                    name: nameText,
                    tel: telText,
                    zipCode: zipCode,
                    address: address,
                    addressDetail: addressDetail
                },
                success: function(response) {
                    responseData = response;

                    $divCards = $("#cards")
                    newCard = `
                        <div class="card">
                            <div class="card-body row">
                                <div class="col-2">
                                    <span class="form-check">
                                        <input class="form-check-input radio-user-delivery" type="radio" name="userDelivery" value="${responseData.no}" />
                                    </span>
                                </div>
                                <div class="col-10">
                                    <div>
                                        <span class="selected-user-delivery-name">${$("#created-name").val()}</span>
                                        <span> / </span>
                                        <span class="selected-user-delivery-tel">${$("#created-tel1").val() + $("#created-tel2").val() + $("#created-tel3").val()}</span>
                                    </div>
                                    <div>
                                        <span class="selected-user-delivery-zip-code">${$("#sample6_postcode").val()}</span>
                                        <span class="selected-user-delivery-address">${$("#sample6_address").val()}</span>
                                        <span class="selected-user-delivery-address-detail">${$("#sample6_detailAddress").val()}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                      `
                    $divCards.append(newCard);
                },
                error: function(xhr, status, error) {
                    console.error('요청이 실패했습니다.');
                }
            });

            modalDeliveryCreate.hide();
        }
    }

    function checkFormGiftReceiver(){
        let checkboxes = document.getElementsByName("userDeliveryNo");
        let isChecked = false;
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                isChecked = true;
                break;
            }
        }
        if (!isChecked) {
            alert("배송지를 선택해주세요.");
            return false;
        }else{
            $("#form-gift-receiver").submit();
        }
    }
</script>
</html>

