<html lang="ko" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="noticeList" class="container-fluid">
    <div class="container">
        <div class="row mb-3">
            <div class="col-12">
                <h3>공지사항</h3>

                <form th:action="@{/board/notice/list}" th:object="${filter}">
                    <input type="hidden" name="page"/>

                    <!-- 게시글 정보 영역 -->
                    <div class="col-12 bg-light p-3 mb-3">
                        <div class="d-flex justify-content-end">
                            <table class="table table-bordered ">
                                <tr>
                                    <td class="bg-light align-middle text-center" style="width: 100px;">제목</td>
                                    <td th:text="${notice.title}" style="width: 200px;"></td>
                                    <td class="bg-light align-middle text-center" style="width: 100px;">작성자</td>
                                    <td th:text="${notice.writer}" style="width: 200px;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-light align-middle text-center" style="width: 100px;">등록일</td>
                                    <td th:text="${#dates.format(notice.createdDate, 'yyyy-MM-dd HH:mm:ss')}"
                                        style="width: 200px;"></td>
                                    <td class="bg-light align-middle text-center" style="width: 100px;">조회수</td>
                                    <td th:text="${notice.views}" style="width: 200px;"></td>
                                </tr>
                            </table>
                        </div>
                        <div th:utext="${notice.content}" style="min-height: 100px;"></div>
                    </div>

                    <!-- 게시글 조회 결과 영역 -->
                    <div class="col-12 bg-light p-3 mb-3">
                        <!-- 조회 리스트 -->
                        <table class="table text-center" id="table-posts">
                            <colgroup>
                                <col width="10%">
                                <col width="*">
                                <col width="25%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>등록일</th>
                                <th>조회</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--
                                ** 게시글 순번 **

                                1. 마지막 숫자부터 시작
                                    전체 게시글 개수 - ((현재 페이지번호 - 1)* 페이지당 게시글 개수) - index
                                    ex) ${(paging.totalRows - (paging.currentPage - 1) * paging.rows) - loop.index}

                                2. 1번부터 시작
                                    ((현재 페이지번호 -1) * 페이지당 게시글 개수) + count
                                    ex) ${((paging.currentPage - 1)*paging.rows) + loop.count}
                            -->
                            <tr th:each="notice, loop : ${notices}"
                                th:class="${#strings.equals(notice.no, param.postNo) ? 'table-secondary' : ' '}">
                                <td th:text="${loop.count}">순번</td>
                                <td class="text-start">
                                    <a th:href="@{/admin/board/notice/views(postNo=${notice.no})}"
                                       th:text="${notice.title}">제목</a>
                                </td>
                                <td>
                                    <p th:text="${#dates.format(notice.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
                                </td>
                                <td th:text="${notice.getViews}">조회수</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="noticeListScript" type="text/javascript">

    $(function () {

    })

</script>

</html>