<html lang="ko" layout:decorate="~{layout/base}" xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content" class="container-fluid">
    <div class="container">
        <div class="row mb-3">
            <div class="col-12">
                <h2 class="text-center">공지사항</h2>

                <!-- 필터 선택 영역-->
                <form id="noticeListForm" th:action="@{/admin/board/notice/list}" th:object="${filter}">
                    <input type="hidden" name="page"/>
                    <div class="col-12 bg-light p-3 mb-3 d-flex justify-content-end">
                        <select th:field="*{opt}" class="form-select-sm">
                            <option value="null">전체</option>
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                        </select>
                        <input type="text" th:field="*{keyword}" class="form-control-sm ms-2">
                        <button type="submit" class="btn btn-outline-dark btn-sm ms-2">검색</button>
                    </div>

                    <!-- 조회 결과 영역 -->
                    <div class="col-12 bg-light p-3 mb-3">
                        <!-- 조회 리스트 -->
                        <table class="table text-center" id="table-posts" th:if="${paging.totalRows != 0}">
                            <colgroup>
                                <col width="10%">
                                <col width="*">
                                <col width="25%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>등록일</th>
                                <th>조회</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--
                                ** 게시글 순번 **

                                1. 마지막 숫자부터 시작
                                    전체 게시글 개수 - ((현재 페이지번호 - 1)* 페이지당 게시글 개수) - index
                                    ex) ${(paging.totalRows - (paging.currentPage - 1) * paging.rows) - loop.index}

                                2. 1번부터 시작
                                    ((현재 페이지번호 -1) * 페이지당 게시글 개수) + count
                                    ex) ${((paging.currentPage - 1)*paging.rows) + loop.count}
                            -->
                            <tr th:each="notice, loop : ${notices}">
                                <td th:text="${(paging.totalRows - (paging.currentPage - 1) * paging.rows) - loop.index}">
                                    번호
                                </td>
                                <td class="text-start">
                                    <span th:if="${notice.important == 'Y'}"
                                          class="text-danger font-weight-bold border border-danger">필독</span>
                                    <a th:href="@{/admin/board/notice/views(postNo=${notice.no}, page=${param.page}, opt=${param.opt}, keyword=${param.keyword})}"
                                       th:text="${notice.title}">제목</a>
                                </td>
                                <td>
                                    <p th:text="${#dates.format(notice.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
                                </td>
                                <td th:text="${notice.views}">조회수</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-center bg-white" th:if="${paging.totalRows == 0}">
                            <p>조회된 결과가 없습니다.</p>
                        </div>

                        <!-- 페이징 처리-->
                        <!--
                               th:classappend="${조건식} ? 값1 : 값2"
                               th:classappend="${조건식} ? 값1"
                                   조건식이 true로 판정되면 값1을 기존 클래스 속성값에 추가하고,
                                   조건식이 false로 판정되면 값2를 기존 클래스 속성값에 추가한다.
                                   * 조건식이 false로 판정될 때 추가할 값이 없으면 값2 부분을 생략할 수 있다.
                        -->
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${paging.first} ? 'disabled'">
                                <a th:href="@{/admin/board/notice/list(page=${paging.currentPage - 1})}"
                                   th:data-page="${paging.currentPage - 1}" class="page-link">이전</a>
                            </li>

                            <li th:each="num : ${#numbers.sequence(paging.currentPage - 2, paging.currentPage + 2)}"
                                th:if="${num >= 1 and num <= paging.totalPages}"
                                class="page-item"
                                th:classappend="${num == paging.currentPage} ? 'active'">
                                <a th:href="@{/admin/board/notice/list(page=${num})}" th:text="${num}"
                                   th:data-page="${num}" class="page-link">1</a>
                            </li>

                            <li class="page-item" th:classappend="${paging.last} ? 'disabled'">
                                <a th:href="@{/admin/board/notice/list(page=${paging.currentPage + 1})}"
                                   th:data-page="${paging.currentPage + 1}" class="page-link">다음</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" type="text/javascript">
    $(function () {

        // 페이지 이동 시 필터 유지
        $(".pagination a").click(function (event) {
            event.preventDefault();

            let page = $(this).data("page");

            $("input[name=page]").val(page)
            $("#noticeListForm").trigger("submit")
        });

    })
</script>

</html>