<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/base}" >

<th:block layout:fragment="style">
    <link rel="stylesheet" th:href="@{/css/user/myPage.css}" />
</th:block>

<div layout:fragment="content" class="container my-3">
    <div class="row">

        <!-- 마이페이지 사이드 바 시작 ################-->
        <div th:replace="~{layout/myPageSidebar :: myPageSidebar} "></div>
        <!-- th:replace=”~{파일경로 :: 조각이름}”-->

        <!-- 마이페이지 사이드 바 종료 ################-->


        <div class="col-9">
        <!-- ########## 포인트 , 등급 , 쿠폰 , 이름 시작 ########## -->
            <!--마일리지 , 등급 , 쿠폰 갯수 -->
            <table class="table">
                <tbody>
                    <tr>
                        <td class="" colspan="3" >
                            <p style="text-align: center">
                                <span id="welcomeName" th:text="${user.name}"> XXXX 님 안녕하세요 </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th class="">
                            <div class="">
                                <div class="fw-normal" style="text-align: center">
                                    <p class="">멤버십 등급 : <span class="" style="font-weight: bold" th:text="${user.userGrade.name}" >일반 &nbsp; </span>
                                        <br><br>
                                        <a href="#" class="btn btn-secondary btn-sm">
                                            <span class="">  자세히보기</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </th>
                        <td>
                            <div class="">
                                <div class="" style="text-align: center">
                                    <p class="">적립금 :
                                        <span class="" style="font-weight: bold" th:text="${user.point}"> Y </span> &nbsp;
                                        <br><br>
                                        <a href="#" class="btn btn-secondary btn-sm">
                                            <span class="">자세히보기</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <div class="" style="text-align: center">
                                    <p class=""> 보유 쿠폰 :
                                        <span class="" style="font-weight: bold" th:text="${couponCnt}"> X </span>개 &nbsp;
                                        <br><br>
                                        <a href="#" class="btn btn-secondary btn-sm">
                                            <span class="">자세히보기</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- ########## 포인트 , 등급 , 쿠폰 , 이름 끝 ########## -->
            <br>
            <!-- ####   주문내역 검색 결과 시작  ### --->
            <div style="margin:0 0 30px 0;">
                <a href="#">
                    <img src="/image/userInfo/recentlyOrderList.jpg" alt="" style="margin:0 0 10px 0; width: auto; height: 35px;">
                </a>
                <table class="table" style="text-align: center">
                    <colgroup>
                        <col width="15%">
                        <col width="10%">
                        <col width="">
                        <col width="15%">
                        <col width="">
                        <col width="15%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>주문 일자</th>
                        <th>주문 번호</th>
                        <th>주문 상품</th>
                        <th>주문 상태</th>
                        <th> 가격 </th>
                        <th>주문 취소</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order : ${orderList}">
                            <form method="post" th:action="@{/kakaoPay/refund}">
                                <input type="hidden" name="buyNo" th:value="${order.buyNo}"/>
                            <td th:text="${#temporals.format(order.buyDate, 'yyyy-MM-dd')}"></td>
                            <td><a href="#" th:text="${order.buyNo}"></a></td>
                            <td>
                                <!-- 주문에 대한 상품 목록 -->
                                <span th:text="${order.book.name}"></span>
                                <!-- 만약 주문한 상품이 여러 개인 경우 -->
                                <span th:if="${order.cnt > 1}" th:text="' 외 ' + ${order.cnt} + '개' "></span>
                            </td>
                            <td th:text="${order.buyStatus.name}"></td>
                            <td th:text="${order.finalPrice}"></td>
                            <td>
                                <button type="submit" class="btn btn-secondary btn-sm">주문 취소</button>
                            </td>
                            </form>
                    </tbody>
                </table>
            </div>
            <!-- ####   주문내역 검색 결과 종료  ### --->
            <br>
            <!--#####  나의 1:1 문의 시작 ##### -->
            <div style="margin:0 0 30px 0;">
                <a href="#">
                    <img src="/image/userInfo/1vs1.jpg" alt="나의 1:1 문의" style="margin:0 0 10px 0; width: auto; height: 35px;">
                </a>
                <table class="table">
                    <colgroup>
                        <col width="15%">
                        <col width="50%">
                        <col width="20%">
                        <col width="15%">
                    </colgroup>
                    <tr align="center">
                        <th> 문의 종류</th>
                        <th> 글 제목</th>
                        <th> 작성 날짜 </th>
                        <th> 답변 완료</th>
                    </tr>
                    <tr th:if="${#lists.isEmpty(inquiryList)}">
                        <td colspan="4" align="center">등록하신 1:1 문의 글이 없습니다.</td>
                    </tr>
                    <tr th:each="inquiry : ${inquiryList}" align="center">
                        <td th:text="${inquiry.faqCategory.name}"> 교환/환불 </td>
                        <td th:text="${inquiry.title}"> 환불 신청 하고 물건 보냈는데 입금 언제되나요 ?</td>
                        <td th:text="${#temporals.format(inquiry.createdDate, 'yyyy-MM-dd')}"></td>
                        <td align="center" th:text="${inquiry.answerYn}"> N </td>
                    </tr>
                </table>
            </div>
            <!--##### 나의 1:1 문의 끝 #####0-->
        </div>
    </div>
</div>
</html>